code {
  background-color: var(--code-bg);
  border-radius: var(--code-border-radius);
  color: var(--code-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  margin: 0;
  padding: var(--code-padding-y) var(--code-padding-x);
}

pre {
  background-color: var(--pre-bg);
  border-radius: var(--pre-border-radius);
  color: var(--pre-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  line-height: var(--pre-line-height);
  margin-bottom: var(--vertical-space);
  margin-top: 0;
  overflow: auto;
  padding: var(--pre-padding);
  word-wrap: normal;

  code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
  }
}

kbd {
  background-color: var(--kbd-bg);
  border: solid 1px var(--kbd-border-color);
  border-bottom-color: #c6cbd1;
  border-radius: var(--kbd-border-radius);
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: var(--kbd-color);
  display: inline-block;
  font-family: var(--font-family-monospace);
  font-size: var(--kbd-font-size);
  line-height: var(--kbd-line-height);
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
  vertical-align: middle;
}
