.markswatch-body h1,
.markswatch-body h2,
.markswatch-body h3,
.markswatch-body h4,
.markswatch-body h5,
.markswatch-body h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.markswatch-body h1 {
  border-bottom: 1px solid #eaecef;
  font-size: 2em;
  padding-bottom: 0.3em;
}

.markswatch-body h2 {
  border-bottom: 1px solid #eaecef;
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.markswatch-body h3 {
  font-size: 1.25em;
}

.markswatch-body h4 {
  font-size: 1em;
}

.markswatch-body h5 {
  font-size: 0.875em;
}

.markswatch-body h6 {
  color: #6a737d;
  font-size: 0.85em;
}
