.markswatch-body ul,
.markswatch-body ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.markswatch-body ol ol,
.markswatch-body ul ol {
  list-style-type: lower-roman;
}

.markswatch-body ul ul ol,
.markswatch-body ul ol ol,
.markswatch-body ol ul ol,
.markswatch-body ol ol ol {
  list-style-type: lower-alpha;
}

.markswatch-body ul,
.markswatch-body ol {
  padding-left: 2em;
}

.markswatch-body ul ul,
.markswatch-body ul ol,
.markswatch-body ol ol,
.markswatch-body ol ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markswatch-body li {
  word-wrap: break-all;
}

.markswatch-body li > p {
  margin-top: 16px;
}

.markswatch-body li + li {
  margin-top: 0.25em;
}
