table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: var(--vertical-space);
  margin-top: 0;
  overflow: auto;
  width: 100%;

  tr {
    background-color: var(--table-bg);
    border-top: var(--table-border-width) solid var(--table-border-color);
  }

  tr:nth-child(2n) {
    background-color: var(--table-stripe-bg);
  }

  th,
  td {
    border: var(--table-border-width) solid var(--table-border-color);
    padding: var(--table-cell-padding);
  }

  th {
    background-color: var(--table-head-bg);
    color: var(--table-head-color);
    font-weight: var(--table-head-font-weight);
  }

  td {
    color: var(--table-cell-color);
  }
}
