table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: $vertical-space;
  margin-top: 0;
  overflow: auto;
  width: 100%;

  tr {
    background-color: $table-bg;
    border-top: $table-border-width solid $table-border-color;
  }

  tr:nth-child(2n) {
    background-color: $table-stripe-bg;
  }

  th,
  td {
    border: $table-border-width solid $table-border-color;
    padding: $table-cell-padding;
  }

  th {
    background-color: $table-head-bg;
    color: $table-head-color;
    font-weight: $table-head-font-weight;
  }

  td {
    color: $table-cell-color;
  }
}
