// Colors.
$color-primary: #3578e5; // Blue 60
$color-secondary: #606770; // Secondary
$color-success: #a3ce71; // Lime
$color-info: #6bcebb; // Teal
$color-warning: #fcd872; // Lemon
$color-danger: #f35369; // Cherry
$color-link: #385898; // Blue Link
$color-white: #fff; // White
$dark-value: 15%;
$darker-value: 30%;
$light-value: 15%;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

:root {
  /* Base */
  --background-color: transparent;
  --global-radius: calc(var(--font-size-base) * 0.1875);
  --media-breakpoint: 1024px;

  /* Colors */
  --color-primary: #{$color-primary};
  --color-primary-dark: #{darken($color-primary, $dark-value)};
  --color-primary-darker: #{darken($color-primary, $darker-value)};
  --color-primary-light: #{lighten($color-primary, $light-value)};
  --color-secondary: #{$color-secondary};
  --color-secondary-dark: #{darken($color-secondary, $dark-value)};
  --color-secondary-darker: #{darken($color-secondary, $darker-value)};
  --color-primary-light: #{lighten($color-secondary, $light-value)};
  --color-success: #{$color-success};
  --color-success-dark: #{darken($color-success, $dark-value)};
  --color-success-darker: #{darken($color-success, $darker-value)};
  --color-primary-light: #{lighten($color-success, $light-value)};
  --color-info: #{$color-info};
  --color-info-dark: #{darken($color-info, $dark-value)};
  --color-info-darker: #{darken($color-info, $darker-value)};
  --color-primary-light: #{lighten($color-info, $light-value)};
  --color-warning: #{$color-warning};
  --color-warning-dark: #{darken($color-warning, $dark-value)};
  --color-warning-darker: #{darken($color-warning, $darker-value)};
  --color-primary-light: #{lighten($color-warning, $light-value)};
  --color-danger: #{$color-danger};
  --color-danger-dark: #{darken($color-danger, $dark-value)};
  --color-danger-darker: #{darken($color-danger, $darker-value)};
  --color-primary-light: #{lighten($color-danger, $light-value)};
  --color-link: #385898; /* Blue Link */
  --color-white: #fff; /* White */

  /* Typography */
  --font-color-base: #1c1e21;
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  /* Grid */
  --container-width: 1140px;
  --vertical-spacing: 1rem;
  --horizontal-spacing: 1rem;

  /* Buttons */
  --button-border-radius: 0.5rem;
  --button-border-width: 1px;
  --button-transition-duration: 0.15s;

  /* Links */
  --link-color: var(--color-link);
  --link-decoration: none;
  --link-hover-color: var(--link-color);
  --link-hover-decoration: underline;

  /* Paragraphs */
  --paragraph-margin-bottom: 1rem;

  /* Headings */
  --headings-margin-top: 1.5rem;
  --headings-margin-bottom: var(--vertical-spacing);
  --headings-font-family: inherit;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.25;

  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.85rem;

  --headings-color: inherit;

  /* Lists */
  --list-left-padding: 2rem;
  --list-margin: 1rem;
  --list-item-margin: 0.25rem;
  --list-paragraph-margin: 1rem;

  /* Images */
  --image-alignment-padding: 1.25rem;

  /* Tables */
  --table-cell-padding: 0.75rem;

  --table-bg: transparent;
  --table-stripe-bg: #f6f8fa;

  --table-border-width: 1px;
  --table-border-color: #dfe2e5;

  --table-head-bg: inherit;
  --table-head-color: inherit;
  --table-head-font-weight: var(--font-weight-bold);

  --table-cell-color: inherit;

  /* Blockquotes */
  --blockquote-color: #6a737d;
  --blockquote-font-size: var(--font-size-base);
  --blockquote-padding-x: 0;
  --blockquote-padding-y: 0;

  /* Code */
  --code-bg: rgba(27, 31, 35, 0.05);
  --code-border-radius: var(--global-radius);
  --code-color: inherit;
  --code-font-size: 85%;
  --code-padding-x: calc(var(--font-size-base) * 0.4);
  --code-padding-y: calc(var(--font-size-base) * 0.2);

  --pre-bg: #f6f8fa;
  --pre-border-radius: var(--code-border-radius);
  --pre-color: inherit;
  --pre-line-height: 1.45;
  --pre-padding: 1rem;

  --kbd-bg: #fafbfc;
  --kbd-border-color: #d1d5da;
  --kbd-border-radius: var(--code-border-radius);
  --kbd-color: #444d56;
  --kbd-font-size: 68.75%;
  --kbd-line-height: 0.625rem;
  --kbd-padding-x: 0.3125rem;
  --kbd-padding-y: 0.1875rem;

  /* Horizontal Rules */
  --hr-border-color: #dfe2e5;
  --hr-border-width: 1px;
  --hr-vertical-margin: 1.5rem;
}
