// Tables
table {
  th {
    border: none;
    height: 3rem;
  }

  tr:first-child {
    &,
    td {
      border: none;
    }
  }

  tbody {
    tr:last-child td {
      border-bottom: none;
    }
  }

  td {
    background-color: rgba(255, 255, 255, 0.95);
    border-left: none;
    border-right: none;
  }

  th,
  td {
    code {
      background-color: transparent;
    }
  }
}

// Blockquotes
blockquote {
  border-left: 0.25rem solid rgba(0, 0, 0, 0.26);
  padding-left: 0.75rem;
}
