$spacing: (
  none: 0,
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
);

$sides: (
  vert: (
    bottom,
    top,
  ),
  horiz: (
    left,
    right,
  ),
  top: (
    top,
  ),
  left: (
    left,
  ),
  bottom: (
    bottom,
  ),
  right: (
    right,
  ),
);

@each $type in (margin, padding) {
  @each $size, $value in $spacing {
    .#{$type}-#{$size} {
      #{$type}: $value;
    }

    @each $side, $properties in $sides {
      .#{$type}-#{$side}-#{$size} {
        @each $property in $properties {
          #{$type}-#{$property}: $value;
        }
      }
    }
  }
}
