@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
:root {
  /* Base */
  --background-color: transparent;
  --global-border-width: 1px;
  --global-radius: calc(var(--font-size-base) * 0.1875);
  --media-breakpoint: 1024px;
  /* Colors */
  --color-primary: #3578e5;
  --color-primary-dark: #1a5ecd;
  --color-primary-darker: #15499f;
  --color-primary-darkerer: #092045;
  --color-primary-light: #79a5ee;
  --color-secondary: #ccd0d5;
  --color-secondary-dark: #b0b6be;
  --color-secondary-darker: #949ca7;
  --color-secondary-darkerer: #606975;
  --color-primary-light: #f6f7f8;
  --color-success: #8ac14b;
  --color-success-dark: #70a138;
  --color-success-darker: #567b2b;
  --color-success-darkerer: #213010;
  --color-primary-light: #afd584;
  --color-info: #45c1a9;
  --color-info-dark: #359e8a;
  --color-info-darker: #287869;
  --color-info-darkerer: #0f2c26;
  --color-primary-light: #7ed4c4;
  --color-warning: #fbca40;
  --color-warning-dark: #fabc0e;
  --color-warning-darker: #d19b04;
  --color-warning-darkerer: #6d5102;
  --color-primary-light: #fddf8b;
  --color-danger: #f0233f;
  --color-danger-dark: #d20e29;
  --color-danger-darker: #a20b20;
  --color-danger-darkerer: #42050d;
  --color-primary-light: #f56b7e;
  --color-link: #385898;
  /* Blue Link */
  --color-white: #fff;
  /* White */
  --color-black: #000;
  /* Black */
  /* Typography */
  --font-color-base: #1c1e21;
  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;
  /* Grid */
  --container-width: 1140px;
  --vertical-spacing: 1rem;
  --horizontal-spacing: 1rem;
  /* Buttons */
  --button-border-radius: 0.5rem;
  --button-transition-duration: 0.15s;
  /* Links */
  --link-color: var(--color-link);
  --link-decoration: none;
  --link-hover-color: var(--link-color);
  --link-hover-decoration: underline;
  /* Paragraphs */
  --paragraph-margin-bottom: 1rem;
  /* Headings */
  --headings-margin-top: 1.5rem;
  --headings-margin-bottom: var(--vertical-spacing);
  --headings-font-family: inherit;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.25;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.85rem;
  --headings-color: inherit;
  /* Lists */
  --list-left-padding: 2rem;
  --list-margin: 1rem;
  --list-item-margin: 0.25rem;
  --list-paragraph-margin: 1rem;
  /* Images */
  --image-alignment-padding: 1.25rem;
  /* Tables */
  --table-cell-padding: 0.75rem;
  --table-bg: transparent;
  --table-stripe-bg: #f6f8fa;
  --table-border-width: 1px;
  --table-border-color: #dfe2e5;
  --table-head-bg: inherit;
  --table-head-color: inherit;
  --table-head-font-weight: var(--font-weight-bold);
  --table-cell-color: inherit;
  /* Blockquotes */
  --blockquote-color: #6a737d;
  --blockquote-font-size: var(--font-size-base);
  --blockquote-padding-x: 0;
  --blockquote-padding-y: 0;
  /* Code */
  --code-bg: rgba(27, 31, 35, 0.05);
  --code-border-radius: var(--global-radius);
  --code-color: inherit;
  --code-font-size: 85%;
  --code-padding-x: calc(var(--font-size-base) * 0.4);
  --code-padding-y: calc(var(--font-size-base) * 0.2);
  --pre-bg: #f6f8fa;
  --pre-border-radius: var(--code-border-radius);
  --pre-color: inherit;
  --pre-line-height: 1.45;
  --pre-padding: 1rem;
  --kbd-bg: #fafbfc;
  --kbd-border-color: #d1d5da;
  --kbd-border-radius: var(--code-border-radius);
  --kbd-color: #444d56;
  --kbd-font-size: 68.75%;
  --kbd-line-height: 0.625rem;
  --kbd-padding-x: 0.3125rem;
  --kbd-padding-y: 0.1875rem;
  /* Horizontal Rules */
  --hr-border-color: #dfe2e5;
  --hr-border-width: 1px;
  --hr-vertical-margin: 1.5rem; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word; }
  body:before {
    content: '';
    display: table; }
  body:after {
    clear: both;
    content: '';
    display: table; }
  body > *:first-child {
    margin-top: 0 !important; }
  body > *:last-child {
    margin-bottom: 0 !important; }
  body * {
    box-sizing: border-box; }

.alert {
  --alert-color: transparent;
  --background-color: var(--alert-color);
  --border-color: var(--alert-color);
  --border-radius: var(--global-radius);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 1rem;
  --padding-vertical: 1rem;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color);
  padding: var(--padding-vertical) var(--padding-horizontal); }
  .alert.alert-primary {
    --alert-color: var(--color-primary);
    --color: var(--color-primary-darkerer); }
  .alert.alert-secondary {
    --alert-color: var(--color-secondary);
    --color: var(--color-secondary-darkerer); }
  .alert.alert-success {
    --alert-color: var(--color-success);
    --color: var(--color-success-darkerer); }
  .alert.alert-info {
    --alert-color: var(--color-info);
    --color: var(--color-info-darkerer); }
  .alert.alert-warning {
    --alert-color: var(--color-warning);
    --color: var(--color-warning-darkerer); }
  .alert.alert-danger {
    --alert-color: var(--color-danger);
    --color: var(--color-danger-darkerer); }

.btn {
  --button-color: transparent;
  --background-color: var(--button-color);
  --border-color: var(--button-color);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 1.5rem;
  --padding-vertical: 0.375rem;
  --size-multiplier: 1;
  --border-radius: calc(var(--button-border-radius) * var(--size-multiplier));
  appearance: none;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color);
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.8rem * var(--size-multiplier));
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  outline: 0;
  padding: calc(var(--padding-vertical) * var(--size-multiplier)) calc(var(--padding-horizontal) * var(--size-multiplier));
  text-align: center;
  text-decoration: none;
  transition: color var(--button-transition-duration) ease-in-out, background var(--button-transition-duration) ease-in-out, border-color var(--button-transition-duration) ease-in-out, box-shadow var(--button-transition-duration) ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:hover {
    outline: 0; }
  .btn:focus {
    outline: 0; }
  .btn.btn-outline {
    --background-color: transparent;
    --color: var(--button-color); }
    .btn.btn-outline:hover {
      --background-color: var(--button-color);
      --color: var(--color-white); }
  .btn.disabled, .btn:disabled, .btn[disabled] {
    opacity: 0.65;
    pointer-events: none; }
  .btn.btn-sm {
    --size-multiplier: 0.8; }
  .btn.btn-lg {
    --size-multiplier: 1.35; }
  .btn.btn-block {
    width: 100%; }
  .btn.btn-secondary {
    color: var(--color-black); }
  .btn.btn-primary {
    --button-color: var(--color-primary); }
    .btn.btn-primary:hover:not(.btn-outline) {
      --button-color: var(--color-primary-dark); }
  .btn.btn.btn-primary:active, .btn.btn.btn-primary.btn-active {
    --button-color: var(--color-primary-darker); }
  .btn.btn-secondary {
    --button-color: var(--color-secondary); }
    .btn.btn-secondary:hover:not(.btn-outline) {
      --button-color: var(--color-secondary-dark); }
  .btn.btn.btn-secondary:active, .btn.btn.btn-secondary.btn-active {
    --button-color: var(--color-secondary-darker); }
  .btn.btn-success {
    --button-color: var(--color-success); }
    .btn.btn-success:hover:not(.btn-outline) {
      --button-color: var(--color-success-dark); }
  .btn.btn.btn-success:active, .btn.btn.btn-success.btn-active {
    --button-color: var(--color-success-darker); }
  .btn.btn-info {
    --button-color: var(--color-info); }
    .btn.btn-info:hover:not(.btn-outline) {
      --button-color: var(--color-info-dark); }
  .btn.btn.btn-info:active, .btn.btn.btn-info.btn-active {
    --button-color: var(--color-info-darker); }
  .btn.btn-warning {
    --button-color: var(--color-warning); }
    .btn.btn-warning:hover:not(.btn-outline) {
      --button-color: var(--color-warning-dark); }
  .btn.btn.btn-warning:active, .btn.btn.btn-warning.btn-active {
    --button-color: var(--color-warning-darker); }
  .btn.btn-danger {
    --button-color: var(--color-danger); }
    .btn.btn-danger:hover:not(.btn-outline) {
      --button-color: var(--color-danger-dark); }
  .btn.btn.btn-danger:active, .btn.btn.btn-danger.btn-active {
    --button-color: var(--color-danger-darker); }

.btn-group {
  display: inline-flex; }
  .btn-group > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .btn-group > .btn:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

[type='checkbox'] {
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  padding-left: calc(var(--horizontal-spacing) / 2);
  padding-right: calc(var(--horizontal-spacing) / 2); }
  .container.container-fluid {
    max-width: inherit; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--horizontal-spacing) * -0.5);
  margin-right: calc(var(--horizontal-spacing) * -0.5); }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0; }
    .row.no-gutters > .col,
    .row.no-gutters > [class*="col-"] {
      padding-left: 0;
      padding-right: 0; }
  .row.row-align-top {
    align-items: flex-start; }
  .row.row-align-bottom {
    align-items: flex-end; }
  .row.row-align-center {
    align-items: center; }
  .row.row-align-stretch {
    align-items: stretch; }
  .row.row-align-baseline {
    align-items: baseline; }
  .row [class*="col-"] {
    padding-left: calc(var(--horizontal-spacing) / 2);
    padding-right: calc(var(--horizontal-spacing) / 2); }
  .row .col {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%; }
    .row .col[class*="col-"] {
      flex: 0 0 var(--width);
      max-width: var(--width); }
    @media (max-width: 1024px) {
      .row .col.col[class*="col-"] {
        --width: 100%;
        margin-left: 0; } }
    .row .col.col-1 {
      --width: 8.33333%; }
    .row .col.col-offset-1 {
      margin-left: 8.33333%; }
    .row .col.col-2 {
      --width: 16.66667%; }
    .row .col.col-offset-2 {
      margin-left: 16.66667%; }
    .row .col.col-3 {
      --width: 25%; }
    .row .col.col-offset-3 {
      margin-left: 25%; }
    .row .col.col-4 {
      --width: 33.33333%; }
    .row .col.col-offset-4 {
      margin-left: 33.33333%; }
    .row .col.col-5 {
      --width: 41.66667%; }
    .row .col.col-offset-5 {
      margin-left: 41.66667%; }
    .row .col.col-6 {
      --width: 50%; }
    .row .col.col-offset-6 {
      margin-left: 50%; }
    .row .col.col-7 {
      --width: 58.33333%; }
    .row .col.col-offset-7 {
      margin-left: 58.33333%; }
    .row .col.col-8 {
      --width: 66.66667%; }
    .row .col.col-offset-8 {
      margin-left: 66.66667%; }
    .row .col.col-9 {
      --width: 75%; }
    .row .col.col-offset-9 {
      margin-left: 75%; }
    .row .col.col-10 {
      --width: 83.33333%; }
    .row .col.col-offset-10 {
      margin-left: 83.33333%; }
    .row .col.col-11 {
      --width: 91.66667%; }
    .row .col.col-offset-11 {
      margin-left: 91.66667%; }
    .row .col.col-12 {
      --width: 100%; }
    .row .col.col-offset-12 {
      margin-left: 100%; }

img {
  background-color: #fff;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%; }

img[align='right'] {
  padding-left: var(--image-alignment-padding); }

img[align='left'] {
  padding-right: var(--image-alignment-padding); }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  margin-bottom: var(--headings-margin-bottom);
  margin-top: var(--headings-margin-top); }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

h3 {
  font-size: var(--h3-font-size); }

h4 {
  font-size: var(--h4-font-size); }

h5 {
  font-size: var(--h5-font-size); }

h6 {
  font-size: var(--h6-font-size); }

strong {
  font-weight: var(--font-weight-bold); }

/* Links */
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration); }
  a:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration); }
  a:active, a:hover {
    outline-width: 0; }
  a:not([href]) {
    color: inherit;
    text-decoration: none; }

/* Paragraphs */
p {
  margin-bottom: var(--paragraph-margin-bottom);
  margin-top: 0; }

/* Code */
code {
  background-color: var(--code-bg);
  border-radius: var(--code-border-radius);
  color: var(--code-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  margin: 0;
  padding: var(--code-padding-y) var(--code-padding-x); }

pre {
  background-color: var(--pre-bg);
  border-radius: var(--pre-border-radius);
  color: var(--pre-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  line-height: var(--pre-line-height);
  margin-bottom: var(--vertical-spacing);
  margin-top: 0;
  overflow: auto;
  padding: var(--pre-padding);
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal; }

kbd {
  background-color: var(--kbd-bg);
  border: solid 1px var(--kbd-border-color);
  border-bottom-color: #c6cbd1;
  border-radius: var(--kbd-border-radius);
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: var(--kbd-color);
  display: inline-block;
  font-family: var(--font-family-monospace);
  font-size: var(--kbd-font-size);
  line-height: var(--kbd-line-height);
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
  vertical-align: middle; }

/* Blockquotes */
blockquote {
  color: var(--blockquote-color);
  font-size: var(--blockquote-font-size);
  margin: 0;
  margin-bottom: var(--vertical-spacing);
  padding: var(--blockquote-padding-y) var(--blockquote-padding-x); }

/* Lists */
ul,
ol {
  margin-bottom: var(--list-margin);
  margin-top: 0;
  padding-left: var(--list-left-padding); }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-top: 0; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

li {
  word-wrap: break-all; }
  li > p {
    margin-top: var(--list-paragraph-margin); }
  li + li {
    margin-top: var(--list-item-margin); }

/* Horizontal Rules */
hr {
  border-color: var(--hr-border-color);
  border-style: solid;
  border-width: var(--hr-border-width);
  box-sizing: content-box;
  margin: var(--hr-vertical-margin) 0;
  overflow: hidden;
  padding: 0; }
  hr:before {
    content: '';
    display: table; }
  hr:after {
    clear: both;
    content: '';
    display: table; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: var(--vertical-spacing);
  margin-top: 0;
  overflow: auto;
  width: 100%; }
  table tr {
    background-color: var(--table-bg);
    border-top: var(--table-border-width) solid var(--table-border-color); }
  table tr:nth-child(2n) {
    background-color: var(--table-stripe-bg); }
  table th,
  table td {
    border: var(--table-border-width) solid var(--table-border-color);
    padding: var(--table-cell-padding); }
  table th {
    background-color: var(--table-head-bg);
    color: var(--table-head-color);
    font-weight: var(--table-head-font-weight); }
  table td {
    color: var(--table-cell-color); }

.text-primary {
  color: var(--color-primary); }

.text-secondary {
  color: var(--color-secondary); }

.text-success {
  color: var(--color-success); }

.text-info {
  color: var(--color-info); }

.text-warning {
  color: var(--color-warning); }

.text-danger {
  color: var(--color-danger); }

:root {
  /* Typography */
  --font-color-base: #212121;
  --font-family-base: Roboto, sans-serif;
  --font-family-monospace: 'Roboto Mono', monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  /* Links */
  --link-color: #039be5;
  --link-hover-decoration: none;
  /* Headings */
  --headings-font-weight: var(--font-weight-normal);
  /* Tables */
  --table-cell-padding: 0.75rem 1rem;
  --table-bg: #78909c;
  --table-stripe-bg: var(--table-bg);
  --table-head-bg: #78909c;
  --table-head-color: #fff;
  --table-head-font-weight: var(--font-weight-normal);
  --table-cell-color: #212121;
  /* Blockquotes */
  --blockquote-color: rgba(0, 0, 0, 0.54);
  /* Code */
  --code-bg: #f7f7f7;
  --code-border-radius: 0;
  --code-color: #37474f;
  --kbd-border-radius: 3px;
  --kbd-color: #555;
  --kbd-font-size: 85%;
  --kbd-line-height: 1.6;
  --kbd-padding-x: 0.29412rem;
  --kbd-padding-y: 0; }

/* Tables */
table th {
  border: none;
  height: 3rem; }

table tr:first-child,
table tr:first-child td {
  border: none; }

table tbody tr:last-child td {
  border-bottom: none; }

table td {
  background-color: rgba(255, 255, 255, 0.95);
  border-left: none;
  border-right: none; }

table th code,
table td code {
  background-color: transparent; }

/* Blockquotes */
blockquote {
  border-left: 0.25rem solid rgba(0, 0, 0, 0.26);
  padding-left: 0.75rem; }
