:root {
  /* Colors */
  --color-primary: #3578e5;
  --color-primary-dark: #1e69e2;
  --color-primary-darker: #1a5ecd;
  --color-primary-darkerer: #0f3572;
  --color-primary-light: #79a5ee;
  --color-primary-lighter: #79a5ee;
  --color-secondary: #ccd0d5;
  --color-secondary-dark: #bec3c9;
  --color-secondary-darker: #b0b6be;
  --color-secondary-darkerer: #788390;
  --color-secondary-light: #f6f7f8;
  --color-secondary-lighter: #f6f7f8;
  --color-success: #00a400;
  --color-success-dark: #008b00;
  --color-success-darker: #007100;
  --color-success-darkerer: #000b00;
  --color-success-light: #00f100;
  --color-success-lighter: #00f100;
  --color-info: #6bcebb;
  --color-info-dark: #58c8b2;
  --color-info-darker: #45c1a9;
  --color-info-darkerer: #287869;
  --color-info-light: #a4e1d5;
  --color-info-lighter: #a4e1d5;
  --color-warning: #ffba00;
  --color-warning-dark: #e6a700;
  --color-warning-darker: #cc9500;
  --color-warning-darkerer: #664a00;
  --color-warning-light: #ffcf4d;
  --color-warning-lighter: #ffcf4d;
  --color-danger: #f0233f;
  --color-danger-dark: #ea102e;
  --color-danger-darker: #d20e29;
  --color-danger-darkerer: #720816;
  --color-danger-light: #f56b7e;
  --color-danger-lighter: #f56b7e;
  --color-link: var(--color-primary);
  /* Blue Link */
  --color-white: #fff;
  /* White */
  --color-black: #000;
  /* Black */
  /* Base */
  --background-color: transparent;
  --global-border-width: 1px;
  --global-radius: 0.25rem;
  --media-breakpoint: 1024px;
  --global-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  /* Typography */
  --font-color-base: #1c1e21;
  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;
  /* Grid */
  --container-width: 1140px;
  --vertical-spacing: 1rem;
  --horizontal-spacing: 1rem;
  /* Navbar */
  --navbar-height: 3.75rem;
  --navbar-background-color: var(--color-primary);
  --navbar-link-color: rgba(0, 0, 0, 0.55);
  --navbar-link-hover-color: var(--color-white);
  --navbar-link-active-color: var(--link-color);
  --navbar-dropdown-background-color: var(--color-white);
  --navbar-dropdown-link-color: var(--color-secondary-darkerer);
  --navbar-dropdown-hover-background-color: var(--color-secondary-light);
  /* Footer */
  --footer-background-color: var(--color-secondary-lighter);
  --footer-link-color: var(--color-secondary-darkerer);
  --footer-link-hover-color: var(--color-black);
  /* Buttons */
  --button-border-radius: 0.5rem;
  --button-transition-duration: 0.15s;
  /* Links */
  --link-color: var(--color-link);
  --link-decoration: none;
  --link-hover-color: var(--link-color);
  --link-hover-decoration: underline;
  /* Paragraphs */
  --paragraph-margin-bottom: 1rem;
  /* Headings */
  --headings-margin-top: 1.5rem;
  --headings-margin-bottom: var(--vertical-spacing);
  --headings-font-family: inherit;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.25;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.85rem;
  --headings-color: inherit;
  /* Lists */
  --list-left-padding: 2rem;
  --list-margin: 1rem;
  --list-item-margin: 0.25rem;
  --list-paragraph-margin: 1rem;
  /* Images */
  --image-alignment-padding: 1.25rem;
  /* Tables */
  --table-cell-padding: 0.75rem;
  --table-bg: transparent;
  --table-stripe-bg: #f6f8fa;
  --table-border-width: 1px;
  --table-border-color: #dfe2e5;
  --table-head-bg: inherit;
  --table-head-color: inherit;
  --table-head-font-weight: var(--font-weight-bold);
  --table-cell-color: inherit;
  /* Blockquotes */
  --blockquote-color: #6a737d;
  --blockquote-font-size: var(--font-size-base);
  --blockquote-padding-x: 0;
  --blockquote-padding-y: 0;
  /* Code */
  --code-bg: rgba(27, 31, 35, 0.05);
  --code-border-radius: var(--global-radius);
  --code-color: inherit;
  --code-font-size: 85%;
  --code-padding-x: calc(var(--font-size-base) * 0.4);
  --code-padding-y: calc(var(--font-size-base) * 0.2);
  --pre-bg: #f6f8fa;
  --pre-border-radius: var(--code-border-radius);
  --pre-color: inherit;
  --pre-line-height: 1.45;
  --pre-padding: 1rem;
  --kbd-bg: #fafbfc;
  --kbd-border-color: #d1d5da;
  --kbd-border-radius: var(--code-border-radius);
  --kbd-color: #444d56;
  --kbd-font-size: 68.75%;
  --kbd-line-height: 0.625rem;
  --kbd-padding-x: 0.3125rem;
  --kbd-padding-y: 0.1875rem;
  /* Horizontal Rules */
  --hr-border-color: #dfe2e5;
  --hr-border-width: 1px;
  --hr-vertical-margin: 1.5rem; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  color: var(--font-color-base);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word; }
  body:before {
    content: '';
    display: table; }
  body:after {
    clear: both;
    content: '';
    display: table; }
  body > *:first-child {
    margin-top: 0 !important; }
  body > *:last-child {
    margin-bottom: 0 !important; }
  body * {
    box-sizing: border-box; }

.alert {
  --alert-color: transparent;
  --background-color: var(--alert-color);
  --border-color: var(--alert-color);
  --border-radius: var(--global-radius);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 1rem;
  --padding-vertical: 1rem;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color);
  padding: var(--padding-vertical) var(--padding-horizontal); }
  .alert.alert-primary {
    --alert-color: var(--color-primary);
    --color: var(--color-primary-darkerer); }
  .alert.alert-secondary {
    --alert-color: var(--color-secondary);
    --color: var(--color-secondary-darkerer); }
  .alert.alert-success {
    --alert-color: var(--color-success);
    --color: var(--color-success-darkerer); }
  .alert.alert-info {
    --alert-color: var(--color-info);
    --color: var(--color-info-darkerer); }
  .alert.alert-warning {
    --alert-color: var(--color-warning);
    --color: var(--color-warning-darkerer); }
  .alert.alert-danger {
    --alert-color: var(--color-danger);
    --color: var(--color-danger-darkerer); }
  .alert .close {
    --margin: -1rem;
    margin-right: var(--margin);
    margin-top: var(--margin); }

.avatar {
  --intro-left-margin: 1rem;
  --intro-alignment: inherit;
  --profile-bottom-margin: 0;
  display: flex;
  /* TODO: Implement various sizes */
  /* TODO: Allow for wrapping within anchor */ }
  .avatar.avatar-vertical {
    --intro-left-margin: 0;
    --intro-alignment: center;
    --profile-bottom-margin: 0.5rem;
    flex-direction: column;
    align-items: center; }
  .avatar .avatar-profile {
    border-radius: 50%;
    height: 3rem;
    margin-bottom: var(--profile-bottom-margin);
    width: 3rem; }
  .avatar .avatar-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--intro-left-margin);
    text-align: var(--intro-alignment); }
  .avatar .avatar-name {
    margin: 0; }
  .avatar .avatar-subtitle {
    margin-top: 0.25rem; }

.badge {
  --badge-color: transparent;
  --background-color: var(--badge-color);
  --border-color: var(--badge-color);
  --border-radius: var(--global-radius);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.25rem;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color-white);
  font-size: 0.7rem;
  font-weight: var(--font-weight-bold);
  padding: var(--padding-vertical) var(--padding-horizontal); }
  .badge.badge-primary {
    --badge-color: var(--color-primary); }
  .badge.badge-secondary {
    --badge-color: var(--color-secondary); }
  .badge.badge-success {
    --badge-color: var(--color-success); }
  .badge.badge-info {
    --badge-color: var(--color-info); }
  .badge.badge-warning {
    --badge-color: var(--color-warning); }
  .badge.badge-danger {
    --badge-color: var(--color-danger); }

.btn {
  /* TODO: Allow links to be styled as buttons */
  --button-color: transparent;
  --background-color: var(--button-color);
  --border-color: var(--button-color);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 1.5rem;
  --padding-vertical: 0.375rem;
  --size-multiplier: 1;
  --border-radius: calc(var(--button-border-radius) * var(--size-multiplier));
  appearance: none;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color);
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.8rem * var(--size-multiplier));
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  outline: 0;
  padding: calc(var(--padding-vertical) * var(--size-multiplier)) calc(var(--padding-horizontal) * var(--size-multiplier));
  text-align: center;
  text-decoration: none;
  transition: color var(--button-transition-duration) ease-in-out, background var(--button-transition-duration) ease-in-out, border-color var(--button-transition-duration) ease-in-out, box-shadow var(--button-transition-duration) ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:hover {
    outline: 0; }
  .btn:focus {
    outline: 0; }
  .btn.btn-outline {
    --background-color: transparent;
    --color: var(--button-color); }
    .btn.btn-outline:hover {
      --background-color: var(--button-color); }
    .btn.btn-outline:hover, .btn.btn-outline:active, .btn.btn-outline.btn-active {
      --color: var(--color-white); }
  .btn.disabled, .btn:disabled, .btn[disabled] {
    opacity: 0.65;
    pointer-events: none; }
  .btn.btn-sm {
    --size-multiplier: 0.8; }
  .btn.btn-lg {
    --size-multiplier: 1.35; }
  .btn.btn-block {
    width: 100%; }
  .btn.btn-secondary {
    color: var(--color-black); }
  .btn.btn-primary {
    --button-color: var(--color-primary); }
    .btn.btn-primary:hover:not(.btn-outline) {
      --button-color: var(--color-primary-dark); }
  .btn.btn.btn-primary:active, .btn.btn.btn-primary.btn-active {
    --button-color: var(--color-primary-darker);
    background-color: var(--color-primary-darker); }
  .btn.btn-secondary {
    --button-color: var(--color-secondary); }
    .btn.btn-secondary:hover:not(.btn-outline) {
      --button-color: var(--color-secondary-dark); }
  .btn.btn.btn-secondary:active, .btn.btn.btn-secondary.btn-active {
    --button-color: var(--color-secondary-darker);
    background-color: var(--color-secondary-darker); }
  .btn.btn-success {
    --button-color: var(--color-success); }
    .btn.btn-success:hover:not(.btn-outline) {
      --button-color: var(--color-success-dark); }
  .btn.btn.btn-success:active, .btn.btn.btn-success.btn-active {
    --button-color: var(--color-success-darker);
    background-color: var(--color-success-darker); }
  .btn.btn-info {
    --button-color: var(--color-info); }
    .btn.btn-info:hover:not(.btn-outline) {
      --button-color: var(--color-info-dark); }
  .btn.btn.btn-info:active, .btn.btn.btn-info.btn-active {
    --button-color: var(--color-info-darker);
    background-color: var(--color-info-darker); }
  .btn.btn-warning {
    --button-color: var(--color-warning); }
    .btn.btn-warning:hover:not(.btn-outline) {
      --button-color: var(--color-warning-dark); }
  .btn.btn.btn-warning:active, .btn.btn.btn-warning.btn-active {
    --button-color: var(--color-warning-darker);
    background-color: var(--color-warning-darker); }
  .btn.btn-danger {
    --button-color: var(--color-danger); }
    .btn.btn-danger:hover:not(.btn-outline) {
      --button-color: var(--color-danger-dark); }
  .btn.btn.btn-danger:active, .btn.btn.btn-danger.btn-active {
    --button-color: var(--color-danger-darker);
    background-color: var(--color-danger-darker); }

.btn-group {
  --button-margin: 2px;
  display: inline-flex; }
  .btn-group > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: var(--button-margin); }
  .btn-group > .btn:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .btn-group > .btn-active {
    z-index: 1; }
  .btn-group.btn-group-block {
    display: flex;
    justify-content: stretch; }
    .btn-group.btn-group-block > .btn {
      flex-grow: 1; }

.close {
  appearance: none;
  background: none;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  opacity: 0.5;
  outline: 0;
  padding: 1rem; }
  .close:hover {
    opacity: 0.7; }
  .close:focus {
    opacity: 0.8; }

.footer {
  --link-color: var(--footer-link-color);
  --link-hover-color: var(--footer-link-hover-color);
  --link-horizontal-spacing: 0.5rem;
  --padding-horizontal: calc(var(--horizontal-spacing) * 2);
  --padding-vertical: calc(var(--vertical-spacing) * 2);
  --text-color: inherit;
  --title-color: inherit;
  background-color: var(--footer-background-color);
  color: var(--text-color);
  padding: var(--padding-vertical) var(--padding-horizontal);
  width: 100%; }
  .footer.footer-dark {
    --footer-background-color: #303846;
    --link-color: var(--color-secondary);
    --link-hover-color: var(--color-secondary-light);
    --text-color: var(--link-color);
    --title-color: var(--color-white); }
  .footer .footer-links {
    margin-bottom: 1rem; }
  .footer .footer-text {
    color: var(--link-color); }
  .footer .footer-logo {
    margin-top: 1rem;
    max-width: 10rem; }
  .footer .footer-title {
    color: var(--title-color); }
  .footer .footer-items {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0; }
  .footer .footer-link-separator {
    margin-left: var(--link-horizontal-spacing);
    margin-right: var(--link-horizontal-spacing); }

[type='checkbox'] {
  padding: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  padding-left: calc(var(--horizontal-spacing) / 2);
  padding-right: calc(var(--horizontal-spacing) / 2); }
  .container.container-fluid {
    max-width: inherit; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--horizontal-spacing) * -0.5);
  margin-right: calc(var(--horizontal-spacing) * -0.5); }
  .row.no-gutters {
    margin-left: 0;
    margin-right: 0; }
    .row.no-gutters > .col,
    .row.no-gutters > [class*="col-"] {
      padding-left: 0;
      padding-right: 0; }
  .row.row-align-top {
    align-items: flex-start; }
  .row.row-align-bottom {
    align-items: flex-end; }
  .row.row-align-center {
    align-items: center; }
  .row.row-align-stretch {
    align-items: stretch; }
  .row.row-align-baseline {
    align-items: baseline; }
  .row [class*="col-"] {
    padding-left: calc(var(--horizontal-spacing) / 2);
    padding-right: calc(var(--horizontal-spacing) / 2); }
  .row .col {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%; }
    .row .col[class*="col-"] {
      flex: 0 0 var(--width);
      max-width: var(--width); }
    @media (max-width: 1024px) {
      .row .col.col[class*="col-"] {
        --width: 100%;
        margin-left: 0; } }
    .row .col.col-1 {
      --width: 8.33333%; }
    .row .col.col-offset-1 {
      margin-left: 8.33333%; }
    .row .col.col-2 {
      --width: 16.66667%; }
    .row .col.col-offset-2 {
      margin-left: 16.66667%; }
    .row .col.col-3 {
      --width: 25%; }
    .row .col.col-offset-3 {
      margin-left: 25%; }
    .row .col.col-4 {
      --width: 33.33333%; }
    .row .col.col-offset-4 {
      margin-left: 33.33333%; }
    .row .col.col-5 {
      --width: 41.66667%; }
    .row .col.col-offset-5 {
      margin-left: 41.66667%; }
    .row .col.col-6 {
      --width: 50%; }
    .row .col.col-offset-6 {
      margin-left: 50%; }
    .row .col.col-7 {
      --width: 58.33333%; }
    .row .col.col-offset-7 {
      margin-left: 58.33333%; }
    .row .col.col-8 {
      --width: 66.66667%; }
    .row .col.col-offset-8 {
      margin-left: 66.66667%; }
    .row .col.col-9 {
      --width: 75%; }
    .row .col.col-offset-9 {
      margin-left: 75%; }
    .row .col.col-10 {
      --width: 83.33333%; }
    .row .col.col-offset-10 {
      margin-left: 83.33333%; }
    .row .col.col-11 {
      --width: 91.66667%; }
    .row .col.col-offset-11 {
      margin-left: 91.66667%; }
    .row .col.col-12 {
      --width: 100%; }
    .row .col.col-offset-12 {
      margin-left: 100%; }

img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%; }

img[align='right'] {
  padding-left: var(--image-alignment-padding); }

img[align='left'] {
  padding-right: var(--image-alignment-padding); }

.menu {
  --color-active: var(--color-primary);
  overflow-x: hidden; }
  .menu .menu-list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    transition: height 200ms cubic-bezier(0.08, 0.52, 0.52, 1); }
    .menu .menu-list .menu-list {
      margin-left: 0.75rem; }
  .menu .menu-list-item {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem; }
    .menu .menu-list-item.menu-list-item-collapsed .menu-list {
      height: 0;
      overflow: hidden; }
    .menu .menu-list-item.menu-list-item-collapsed .chevron {
      transform: rotateX(180deg); }
  .menu .menu-link {
    border-radius: 0.25rem;
    color: #717171;
    cursor: pointer;
    display: flex;
    font-size: 0.875em;
    line-height: 20px;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
    padding: 0.5rem 0.75rem; }
  .menu .menu-link:hover {
    background-color: var(--color-secondary-lighter);
    color: #717171; }
  .menu .menu-link-active,
  .menu .menu-link-active:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)) var(--color-active);
    color: var(--color-active); }
  .menu .chevron {
    background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    background-size: 2rem 2rem;
    background-position: center;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem; }

.navbar {
  /* TODO: Add navbar-link-active */
  --item-padding-horizontal: 1rem;
  --item-padding-vertical: 0.25rem;
  --link-color: var(--navbar-link-color);
  --link-hover-color: var(--navbar-link-hover-color);
  --padding-horizontal: var(--horizontal-spacing);
  --padding-vertical: calc(var(--vertical-spacing) * 0.5);
  --search-input-background-color: rgba(0, 0, 0, 0.25);
  --search-input-color: var(--color-secondary);
  --search-input-placeholder-color: rgba(255, 255, 255, 0.5);
  --search-input-icon: url('data:image/svg+xml;utf8,<svg alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" fill="rgba(255,255,255,0.5)" /></svg>');
  background-color: var(--navbar-background-color);
  height: var(--navbar-height);
  padding: var(--padding-vertical) var(--padding-horizontal);
  width: 100%;
  z-index: 100; }
  .navbar.navbar-fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; }
  .navbar .navbar-inner {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .navbar .navbar-brand {
    color: var(--link-color);
    font-weight: bold;
    margin-right: 1rem;
    text-decoration: none; }
  .navbar .navbar-items {
    align-items: center;
    display: flex;
    flex: 1 0 0; }
    .navbar .navbar-items > .navbar-item {
      display: inline-block;
      margin-top: 0;
      position: relative; }
      .navbar .navbar-items > .navbar-item .navbar-link {
        color: var(--link-color);
        cursor: pointer;
        display: block;
        padding: var(--item-padding-vertical) var(--item-padding-horizontal);
        text-decoration: none; }
        .navbar .navbar-items > .navbar-item .navbar-link:hover {
          color: var(--link-hover-color); }
      .navbar .navbar-items > .navbar-item:hover .navbar-dropdown, .navbar .navbar-items > .navbar-item:focus .navbar-dropdown {
        display: block; }
  .navbar .navbar-dropdown {
    background-color: var(--navbar-dropdown-background-color);
    border-radius: var(--global-radius);
    box-shadow: var(--global-shadow);
    display: none;
    min-width: 10rem;
    list-style: none;
    padding: 0.5rem;
    position: absolute;
    z-index: 20; }
    .navbar .navbar-dropdown.navbar-dropdown-right {
      right: 0; }
    .navbar .navbar-dropdown .navbar-dropdown-link {
      border-radius: 0.375rem;
      color: var(--navbar-dropdown-link-color);
      display: block;
      font-size: 0.875rem;
      padding: 0.375rem 0.5rem; }
      .navbar .navbar-dropdown .navbar-dropdown-link:hover {
        background-color: var(--navbar-dropdown-hover-background-color);
        text-decoration: none; }
  .navbar .navbar-center {
    flex: 0 0 auto; }
    .navbar .navbar-center .navbar-brand {
      margin: 0; }
  .navbar .navbar-right {
    justify-content: flex-end; }
  .navbar.navbar-dark {
    --navbar-background-color: #303846;
    --link-color: var(--color-secondary);
    --link-hover-color: var(--color-secondary-light); }
  .navbar.navbar-light {
    --navbar-background-color: var(--color-secondary-lighter);
    --link-color: var(--color-secondary-darkerer);
    --link-hover-color: var(--color-black);
    --search-input-background-color: rgba(0, 0, 0, 0.05);
    --search-input-color: var(--color-secondary-darkerer);
    --search-input-placeholder-color: var(--color-secondary-darkerer);
    --search-input-icon: url('data:image/svg+xml;utf8,<svg alt="Search" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" fill="rgba(0,0,0,0.5)" /></svg>'); }
  .navbar .navbar-search {
    padding-left: var(--padding-horizontal); }
    .navbar .navbar-search input {
      background-image: var(--search-input-icon);
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      background-position-y: center;
      background-position-x: 0.75rem;
      background-color: var(--search-input-background-color);
      border-radius: 2rem;
      border-width: 0;
      cursor: text;
      color: var(--search-input-color);
      display: inline-block;
      font-size: 0.9rem;
      line-height: 2rem;
      outline: none;
      padding: 0 0.5rem 0 2.25rem;
      transition: all 0.2s ease;
      width: 12.5rem; }
      .navbar .navbar-search input::placeholder {
        color: var(--search-input-placeholder-color); }

.pagination {
  --border-radius: calc(var(--button-border-radius) * var(--size-multiplier));
  --color-active: var(--color-primary);
  --page-spacing: 0.0625rem;
  --padding-horizontal: 1rem;
  --padding-vertical: 0.25rem;
  --size-multiplier: 1;
  padding-left: 0; }
  .pagination > .page-item {
    display: inline-block;
    list-style-type: none; }
    .pagination > .page-item:not(:first-child) {
      margin-left: var(--page-spacing); }
    .pagination > .page-item:not(:last-child) {
      margin-right: var(--page-spacing); }
    .pagination > .page-item > span {
      padding: var(--padding-vertical); }
    .pagination > .page-item .page-link {
      border-radius: var(--border-radius);
      color: var(--font-color-base);
      display: inline-block;
      font-size: calc(1rem * var(--size-multiplier));
      padding: calc(var(--padding-vertical) * var(--size-multiplier)) calc(var(--padding-horizontal) * var(--size-multiplier));
      text-decoration: none; }
    .pagination > .page-item.page-active .page-link {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)) var(--color-active);
      color: var(--color-active); }
    .pagination > .page-item:not(.page-active):hover .page-link {
      background-color: var(--color-secondary-lighter);
      transition: background 0.2s ease-in-out; }
    .pagination > .page-item.disabled, .pagination > .page-item:disabled, .pagination > .page-item[disabled] {
      opacity: 0.25;
      pointer-events: none; }
  .pagination.pagination-sm {
    --size-multiplier: 0.8; }
  .pagination.pagination-lg {
    --size-multiplier: 1.35; }

.pills {
  --color-active: var(--color-primary);
  --pill-spacing: 0.0625rem;
  padding-left: 0; }
  .pills > .pill-item {
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding: 0.25rem 1rem; }
    .pills > .pill-item.pill-active {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)) var(--color-active);
      color: var(--color-active); }
    .pills > .pill-item:not(.pill-active):hover {
      background-color: var(--color-secondary-lighter);
      transition: background 200ms cubic-bezier(0.08, 0.52, 0.52, 1); }
    .pills > .pill-item:not(:first-child) {
      margin-left: var(--pill-spacing); }
    .pills > .pill-item:not(:last-child) {
      margin-right: var(--pill-spacing); }
  .pills > .pill-item + .pill-item {
    margin-top: 0; }
  .pills.pills-block {
    display: flex;
    justify-content: stretch; }
    @media (max-width: 1024px) {
      .pills.pills-block {
        flex-direction: column; } }
    .pills.pills-block > .pill-item {
      flex-grow: 1;
      text-align: center; }
      @media (max-width: 1024px) {
        .pills.pills-block > .pill-item:not(:first-child) {
          margin-top: var(--pill-spacing); }
        .pills.pills-block > .pill-item:not(:last-child) {
          margin-bottom: var(--pill-spacing); } }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: var(--vertical-spacing);
  margin-top: 0;
  overflow: auto;
  width: 100%; }
  table tr {
    background-color: var(--table-bg);
    border-top: var(--table-border-width) solid var(--table-border-color); }
  table tr:nth-child(2n) {
    background-color: var(--table-stripe-bg); }
  table th,
  table td {
    border: var(--table-border-width) solid var(--table-border-color);
    padding: var(--table-cell-padding); }
  table th {
    background-color: var(--table-head-bg);
    color: var(--table-head-color);
    font-weight: var(--table-head-font-weight); }
  table td {
    color: var(--table-cell-color); }

.tabs {
  --color-active: var(--color-primary);
  --tab-spacing: 0.0625rem;
  margin-bottom: 0;
  padding-left: 0; }
  .tabs > .tab-item {
    border-bottom: 4px solid transparent;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem 1.5rem; }
    .tabs > .tab-item.tab-active {
      color: var(--color-black);
      border-bottom-color: var(--color-active); }
    .tabs > .tab-item:not(.tab-active):hover {
      border-bottom-color: var(--color-secondary); }
  .tabs.tabs-block {
    display: flex;
    justify-content: stretch; }
    @media (max-width: 1024px) {
      .tabs.tabs-block {
        flex-direction: column; } }
    .tabs.tabs-block > .tab-item {
      flex-grow: 1;
      text-align: center; }
      @media (max-width: 1024px) {
        .tabs.tabs-block > .tab-item:not(:first-child) {
          margin-top: var(--tab-spacing); }
        .tabs.tabs-block > .tab-item:not(:last-child) {
          margin-bottom: var(--tab-spacing); } }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  margin-bottom: var(--headings-margin-bottom);
  margin-top: var(--headings-margin-top); }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

h3 {
  font-size: var(--h3-font-size); }

h4 {
  font-size: var(--h4-font-size); }

h5 {
  font-size: var(--h5-font-size); }

h6 {
  font-size: var(--h6-font-size); }

strong {
  font-weight: var(--font-weight-bold); }

/* Links */
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration); }
  a:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration); }
  a:active, a:hover {
    outline-width: 0; }
  a:not([href]) {
    color: inherit;
    text-decoration: none; }

/* Paragraphs */
p {
  margin-bottom: var(--paragraph-margin-bottom);
  margin-top: 0; }

/* Code */
code {
  background-color: var(--code-bg);
  border-radius: var(--code-border-radius);
  color: var(--code-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  margin: 0;
  padding: var(--code-padding-y) var(--code-padding-x); }

pre {
  background-color: var(--pre-bg);
  border-radius: var(--pre-border-radius);
  color: var(--pre-color);
  font-family: var(--font-family-monospace);
  font-size: var(--code-font-size);
  line-height: var(--pre-line-height);
  margin-bottom: var(--vertical-spacing);
  margin-top: 0;
  overflow: auto;
  padding: var(--pre-padding);
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal; }

kbd {
  background-color: var(--kbd-bg);
  border: solid 1px var(--kbd-border-color);
  border-bottom-color: #c6cbd1;
  border-radius: var(--kbd-border-radius);
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: var(--kbd-color);
  display: inline-block;
  font-family: var(--font-family-monospace);
  font-size: var(--kbd-font-size);
  line-height: var(--kbd-line-height);
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
  vertical-align: middle; }

/* Blockquotes */
blockquote {
  color: var(--blockquote-color);
  font-size: var(--blockquote-font-size);
  margin: 0;
  margin-bottom: var(--vertical-spacing);
  padding: var(--blockquote-padding-y) var(--blockquote-padding-x); }

/* Lists */
ul,
ol {
  margin-bottom: var(--list-margin);
  margin-top: 0;
  padding-left: var(--list-left-padding); }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-top: 0; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

li {
  word-wrap: break-all; }
  li > p {
    margin-top: var(--list-paragraph-margin); }
  li + li {
    margin-top: var(--list-item-margin); }

/* Horizontal Rules */
hr {
  border-color: var(--hr-border-color);
  border-style: solid;
  border-width: var(--hr-border-width);
  box-sizing: content-box;
  margin: var(--hr-vertical-margin) 0;
  overflow: hidden;
  padding: 0; }
  hr:before {
    content: '';
    display: table; }
  hr:after {
    clear: both;
    content: '';
    display: table; }

.margin-none {
  margin: 0; }

.margin-vert-none {
  margin-bottom: 0;
  margin-top: 0; }

.margin-horiz-none {
  margin-left: 0;
  margin-right: 0; }

.margin-top-none {
  margin-top: 0; }

.margin-left-none {
  margin-left: 0; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-right-none {
  margin-right: 0; }

.margin-xs {
  margin: 0.25rem; }

.margin-vert-xs {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem; }

.margin-horiz-xs {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.margin-top-xs {
  margin-top: 0.25rem; }

.margin-left-xs {
  margin-left: 0.25rem; }

.margin-bottom-xs {
  margin-bottom: 0.25rem; }

.margin-right-xs {
  margin-right: 0.25rem; }

.margin-sm {
  margin: 0.5rem; }

.margin-vert-sm {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.margin-horiz-sm {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.margin-top-sm {
  margin-top: 0.5rem; }

.margin-left-sm {
  margin-left: 0.5rem; }

.margin-bottom-sm {
  margin-bottom: 0.5rem; }

.margin-right-sm {
  margin-right: 0.5rem; }

.margin-md {
  margin: 1rem; }

.margin-vert-md {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.margin-horiz-md {
  margin-left: 1rem;
  margin-right: 1rem; }

.margin-top-md {
  margin-top: 1rem; }

.margin-left-md {
  margin-left: 1rem; }

.margin-bottom-md {
  margin-bottom: 1rem; }

.margin-right-md {
  margin-right: 1rem; }

.margin-lg {
  margin: 1.5rem; }

.margin-vert-lg {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.margin-horiz-lg {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.margin-top-lg {
  margin-top: 1.5rem; }

.margin-left-lg {
  margin-left: 1.5rem; }

.margin-bottom-lg {
  margin-bottom: 1.5rem; }

.margin-right-lg {
  margin-right: 1.5rem; }

.margin-xl {
  margin: 2rem; }

.margin-vert-xl {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.margin-horiz-xl {
  margin-left: 2rem;
  margin-right: 2rem; }

.margin-top-xl {
  margin-top: 2rem; }

.margin-left-xl {
  margin-left: 2rem; }

.margin-bottom-xl {
  margin-bottom: 2rem; }

.margin-right-xl {
  margin-right: 2rem; }

.padding-none {
  padding: 0; }

.padding-vert-none {
  padding-bottom: 0;
  padding-top: 0; }

.padding-horiz-none {
  padding-left: 0;
  padding-right: 0; }

.padding-top-none {
  padding-top: 0; }

.padding-left-none {
  padding-left: 0; }

.padding-bottom-none {
  padding-bottom: 0; }

.padding-right-none {
  padding-right: 0; }

.padding-xs {
  padding: 0.25rem; }

.padding-vert-xs {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem; }

.padding-horiz-xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.padding-top-xs {
  padding-top: 0.25rem; }

.padding-left-xs {
  padding-left: 0.25rem; }

.padding-bottom-xs {
  padding-bottom: 0.25rem; }

.padding-right-xs {
  padding-right: 0.25rem; }

.padding-sm {
  padding: 0.5rem; }

.padding-vert-sm {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.padding-horiz-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.padding-top-sm {
  padding-top: 0.5rem; }

.padding-left-sm {
  padding-left: 0.5rem; }

.padding-bottom-sm {
  padding-bottom: 0.5rem; }

.padding-right-sm {
  padding-right: 0.5rem; }

.padding-md {
  padding: 1rem; }

.padding-vert-md {
  padding-bottom: 1rem;
  padding-top: 1rem; }

.padding-horiz-md {
  padding-left: 1rem;
  padding-right: 1rem; }

.padding-top-md {
  padding-top: 1rem; }

.padding-left-md {
  padding-left: 1rem; }

.padding-bottom-md {
  padding-bottom: 1rem; }

.padding-right-md {
  padding-right: 1rem; }

.padding-lg {
  padding: 1.5rem; }

.padding-vert-lg {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.padding-horiz-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.padding-top-lg {
  padding-top: 1.5rem; }

.padding-left-lg {
  padding-left: 1.5rem; }

.padding-bottom-lg {
  padding-bottom: 1.5rem; }

.padding-right-lg {
  padding-right: 1.5rem; }

.padding-xl {
  padding: 2rem; }

.padding-vert-xl {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.padding-horiz-xl {
  padding-left: 2rem;
  padding-right: 2rem; }

.padding-top-xl {
  padding-top: 2rem; }

.padding-left-xl {
  padding-left: 2rem; }

.padding-bottom-xl {
  padding-bottom: 2rem; }

.padding-right-xl {
  padding-right: 2rem; }

.text-primary {
  color: var(--color-primary); }

.text-secondary {
  color: var(--color-secondary); }

.text-success {
  color: var(--color-success); }

.text-info {
  color: var(--color-info); }

.text-warning {
  color: var(--color-warning); }

.text-danger {
  color: var(--color-danger); }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-right {
  text-align: right; }

.text-capitalize {
  text-transform: capitalize; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: bold; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: normal; }

.text-light {
  font-weight: light; }

.text-lighter {
  font-weight: lighter; }

.text-italic {
  font-style: italic; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important; }

.text-no-decoration, .text-no-decoration:hover {
  text-decoration: none; }

:root {
  --latin-unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  /* Theme-specific */
  --golden-ratio: 1.61803398875;
  --root-two: 1.41421356237;
  /* Typography */
  --font-color-base: #333;
  --font-family-base: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --line-height-base: var(--root-two);
  --h1-font-size: 2.6179rem;
  --h2-font-size: 2.0581rem;
  --h3-font-size: 1.618rem;
  --h4-font-size: 1.272rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.7861rem;
  /* Table */
  --table-cell-padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  --table-border-width: 0;
  --table-stripe-bg: transparent;
  /* Blockquotes */
  --blockquote-color: #444; }

@font-face {
  font-display: fallback;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXyw023e.woff2) format("woff2");
  unicode-range: var(--latin-unicode-range); }

@font-face {
  font-display: fallback;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: local("Rubik Medium"), local("Rubik-Medium"), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WD07oB-.woff2) format("woff2");
  unicode-range: var(--latin-unicode-range); }

@font-face {
  font-display: optional;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local("Rubik Italic"), local("Rubik-Italic"), url(https://fonts.gstatic.com/s/rubik/v7/iJWEBXyIfDnIV7nEnX661E_c5Ig.woff2) format("woff2");
  unicode-range: var(--latin-unicode-range); }

/* Typography */
body {
  font-kerning: normal;
  font-variant: proportional-nums diagonal-fractions ordinal; }
  @media (max-width: 767.98px) {
    body {
      font-size: 1.125rem;
      /* Bigger on mobile */ } }
  @media (min-width: 1440px) {
    body {
      font-size: 1.125rem;
      /* Big again on huge displays */ } }

h4,
h5,
h6 {
  font-variant-caps: small-caps; }

p {
  max-width: 35rem; }

/* Tables */
table {
  font-variant-numeric: lining-nums tabular-nums; }
  table thead {
    border-bottom: 1px solid var(--table-border-color); }

/* Lists */
::marker {
  color: #444; }
