.avatar {
  --avatar-intro-left-margin: 1rem;
  --avatar-intro-alignment: inherit;
  --avatar-photo-bottom-margin: 0;
  --avatar-photo-size-sm: 2rem;
  --avatar-photo-size-md: 3rem;
  --avatar-photo-size-lg: 4rem;
  --avatar-photo-size-xl: 6rem;

  display: flex;

  & .avatar-photo-link {
    display: block;
  }

  & .avatar-photo {
    border-radius: 50%;
    height: var(--avatar-photo-size-md);
    margin-bottom: var(--avatar-photo-bottom-margin);
    width: var(--avatar-photo-size-md);
  }

  & .avatar-photo.avatar-photo-sm {
    height: var(--avatar-photo-size-sm);
    width: var(--avatar-photo-size-sm);
  }

  & .avatar-photo.avatar-photo-lg {
    height: var(--avatar-photo-size-lg);
    width: var(--avatar-photo-size-lg);
  }

  & .avatar-photo.avatar-photo-xl {
    height: var(--avatar-photo-size-xl);
    width: var(--avatar-photo-size-xl);
  }

  & .avatar-intro {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--avatar-intro-left-margin);
    text-align: var(--avatar-intro-alignment);
  }

  & .avatar-name {
    margin: 0;
  }

  & .avatar-subtitle {
    margin-top: 0.25rem;
  }

  &.avatar-vertical {
    --avatar-intro-alignment: center;
    --avatar-intro-left-margin: 0;
    --avatar-photo-bottom-margin: 0.5rem;

    align-items: center;
    flex-direction: column;

    // @compat
    & .avatar-intro {
      margin-left: var(--avatar-intro-left-margin); // @compat
      text-align: var(--avatar-intro-alignment); // @compat
    }

    // @compat
    & .avatar-photo {
      margin-bottom: var(--avatar-photo-bottom-margin); // @compat
    }
  }
}
