// TODO: Compat
:root {
  --button-background-color: inherit;
  --button-border-color: var(--button-background-color);
  --button-border-width: var(--global-border-width);
  --button-color: var(--font-color-base-inverse);
  --button-padding-horizontal: 1.5rem;
  --button-padding-vertical: 0.375rem;
  --button-size-multiplier: 1;
  --button-transition-duration: var(--transition-fast);
  --button-border-radius: calc(
    var(--global-radius) * var(--button-size-multiplier)
  );
}

.button {
  // TODO: Allow links to be styled as buttons.
  appearance: none;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-style: solid;
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.8rem * var(--button-size-multiplier));
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  outline: 0;
  padding: calc(var(--button-padding-vertical) * var(--button-size-multiplier))
    calc(var(--button-padding-horizontal) * var(--button-size-multiplier));
  text-align: center;
  text-decoration: none;
  transition: color var(--button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background var(--button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  &.button--outline {
    --button-background-color: transparent;
    --button-color: var(--button-border-color);

    &:hover {
      --button-background-color: var(--button-border-color);
    }

    &:hover,
    &:active,
    &.button--active {
      --button-color: var(--font-color-base-inverse);
    }
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }

  &.button--sm {
    --button-size-multiplier: 0.8;
  }

  &.button--lg {
    --button-size-multiplier: 1.35;
  }

  &.button--block {
    display: block;
    width: 100%;
  }

  &.button--secondary {
    color: #1f2227;

    &.button--outline:not(.button--active):not(:hover) {
      color: var(--font-color-base);
    }
  }
}

@each $color in (primary, secondary, success, info, warning, danger) {
  .button.button--$(color) {
    --button-border-color: var(--color-$(color));

    &:not(.button--outline) {
      --button-background-color: var(--color-$(color));

      &:hover {
        --button-background-color: var(--color-$(color)-dark);
        --button-border-color: var(--color-$(color)-dark);
      }
    }
  }

  // Increase specificity.
  .button.button.button--$(color) {
    &:active,
    &.button--active {
      --button-border-color: var(--color-$(color)-darker);
      --button-background-color: var(--color-$(color)-darker);

      background-color: var(
        --color-$(color)-darker
      ); // Has to be explicitly defined because .button--outline has quite high specificity.
      border-color: var(
        --color-$(color)-darker
      ); // Has to be explicitly defined because .button--outline has quite high specificity.
    }
  }
}
