:root {
  --card-background-color: var(--background-surface-color);
  --card-border-radius: calc(var(--global-radius) * 2);
  --card-horizontal-spacing: var(--global-spacing);
  --card-vertical-spacing: var(--global-spacing);
}

.card {
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--global-shadow-lw);
  overflow: hidden; // Because of border-radius.

  & .card__image {
    padding-top: var(--card-vertical-spacing);

    &:first-child {
      padding-top: 0;
    }
  }

  & .card__header,
  & .card__body,
  & .card__footer {
    padding: var(--card-vertical-spacing) var(--card-horizontal-spacing);

    &:not(:last-child) {
      padding-bottom: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
