:root {
  --ifm-contents-border-color: var(--ifm-color-emphasis-alpha-50);
  --ifm-contents-padding-left: var(--ifm-spacing-horizontal);
  --ifm-contents-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
}

.contents {
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-bottom: var(--ifm-contents-padding-vertical);
  padding-top: var(--ifm-contents-padding-vertical);

  &,
  & ul {
    list-style-type: none;
    padding-left: var(--ifm-contents-padding-left);
  }

  & li {
    margin: var(--ifm-contents-padding-vertical);
  }

  &.contents__left-border {
    border-left-color: var(--ifm-color-emphasis-alpha-30);
    border-left-style: solid;
    border-left-width: 1px;
  }

  & .contents__link {
    color: var(--ifm-color-emphasis-alpha-50);

    &:hover,
    &.contents__link--active {
      color: var(--ifm-color-primary);
      text-decoration: none;
    }
  }
}
