:root {
  --footer-background-color: var(--color-emphasis-alpha-05);
  --footer-color: inherit;
  --footer-link-color: var(--color-black-alpha-50);
  --footer-link-hover-color: var(--color-primary);
  --footer-link-horizontal-spacing: 0.5rem;
  --footer-padding-horizontal: calc(var(--horizontal-spacing) * 2);
  --footer-padding-vertical: calc(var(--vertical-spacing) * 2);
  --footer-title-color: inherit;
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  padding: var(--footer-padding-vertical) var(--footer-padding-horizontal);
  width: 100%;

  &.footer--dark {
    --footer-background-color: #303846;
    --footer-color: var(--footer-link-color);
    --footer-link-color: var(--color-secondary);
    --footer-title-color: var(--color-white);

    background-color: var(--footer-background-color); // @compat
    color: var(--footer-color); // @compat

    // @compat
    & .footer__link-item {
      color: var(--footer-link-color); // @compat
    }

    // @compat
    & .footer__title {
      color: var(--footer-title-color); // @compat
    }
  }

  & .footer__links {
    margin-bottom: 1rem;
  }

  & .footer__link-item {
    color: var(--footer-link-color);

    &:hover {
      color: var(--footer-link-hover-color);
    }
  }

  & .footer__link-separator {
    margin-left: var(--footer-link-horizontal-spacing);
    margin-right: var(--footer-link-horizontal-spacing);
  }

  & .footer__logo {
    margin-top: 1rem;
    max-width: 10rem;
  }

  & .footer__title {
    color: var(--footer-title-color);
  }

  & .footer__items {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  @media (--narrow-window) {
    --footer-padding-horizontal: var(--horizontal-spacing);

    padding: var(--footer-padding-vertical) var(--footer-padding-horizontal); // @compat

    & .footer__col {
      margin-bottom: calc(var(--vertical-spacing) * 2);
    }
  }
}
