:root {
  --hero-background-color: var(--background-surface-color);
  --hero-text-color: var(--color-emphasis-alpha-80);
}

.hero {
  align-items: center;
  background-color: var(--hero-background-color);
  color: var(--hero-text-color);
  display: flex;
  padding: 4rem 2rem;

  &.hero--primary {
    --hero-background-color: var(--color-primary);
    --hero-text-color: var(--font-base-color-inverse);

    background-color: var(--hero-background-color); // @compat
    color: var(--hero-text-color); // @compat
  }

  &.hero--dark {
    --hero-background-color: #303846;
    --hero-text-color: var(--color-white);

    background-color: var(--hero-background-color); // @compat
    color: var(--hero-text-color); // @compat
  }

  & .hero__title {
    font-size: 3rem;
  }

  & .hero__subtitle {
    font-size: 1.5rem;
  }

  @media (--narrow-window) {
    padding-left: 0;
    padding-right: 0;
  }
}
