.navbar {
  // TODO: Add navbar-link-active
  --navbar-background-color: var(--color-primary);
  --navbar-item-padding-horizontal: 1rem;
  --navbar-item-padding-vertical: 0.25rem;
  --navbar-link-color: rgba(0, 0, 0, 0.55);
  --navbar-link-hover-color: var(--color-white);
  --navbar-link-active-color: var(--link-color);
  --navbar-padding-horizontal: var(--horizontal-spacing);
  --navbar-padding-vertical: calc(var(--vertical-spacing) * 0.5);
  --navbar-shadow: var(--global-shadow-lw);
  --navbar-search-input-background-color: var(--color-black-alpha-20);
  --navbar-search-input-color: var(--color-secondary);
  --navbar-search-input-placeholder-color: rgba(255, 255, 255, 0.5);
  --navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" fill="rgba(255,255,255,0.5)" /></svg>');

  background-color: var(--navbar-background-color);
  box-shadow: var(--navbar-shadow);
  box-sizing: border-box;
  height: var(--navbar-height);
  padding: var(--navbar-padding-vertical) var(--navbar-padding-horizontal);
  width: 100%;
  z-index: 100; // TODO: Extract out.

  &,
  & > .container,
  & > .container-fluid {
    display: flex;
  }

  &.navbar--fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  & .navbar__inner {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  & .navbar__brand {
    align-items: center;
    color: var(--navbar-link-color);
    display: flex;
    font-weight: bold;
    height: 2rem;
    margin-right: 1rem;
    text-decoration: none;
  }

  & .navbar__logo {
    height: 100%;
    margin-right: 0.5rem;
  }

  & .navbar__items {
    align-items: center;
    display: flex;
    flex: 1 0 0;

    &.navbar__items--center {
      flex: 0 0 auto;

      & .navbar__brand {
        margin: 0;
      }
    }

    &.navbar__items--right {
      justify-content: flex-end;
    }
  }

  & .navbar__item {
    display: inline-block;
    margin-top: 0;
    position: relative;
  }

  & .navbar__link {
    color: var(--navbar-link-color);
    cursor: pointer;
    display: block;
    font-weight: 500;
    padding: var(--navbar-item-padding-vertical)
      var(--navbar-item-padding-horizontal);
    text-decoration: none;

    &:hover {
      color: var(--navbar-link-hover-color);
    }
  }

  &.navbar--dark {
    --navbar-background-color: #303846;
    --navbar-link-color: var(--color-white);
    --navbar-link-hover-color: var(--color-secondary);

    background-color: var(--navbar-background-color); // @compat

    // @compat
    & .navbar__brand {
      color: var(--navbar-link-color); // @compat
    }

    // @compat
    & .navbar__link {
      color: var(--navbar-link-color); // @compat

      // @compat
      &:hover {
        color: var(--navbar-link-hover-color); // @compat
      }
    }
  }

  &.navbar--light {
    --navbar-background-color: var(--color-white);
    --navbar-link-color: var(--color-primary);
    --navbar-link-hover-color: var(--color-primary-darker);
    --navbar-search-input-background-color: rgba(0, 0, 0, 0.05);
    --navbar-search-input-color: var(--color-secondary-darkest);
    --navbar-search-input-placeholder-color: var(--color-secondary-darkest);
    --navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg alt="Search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" fill="rgba(0,0,0,0.5)" /></svg>');

    background-color: var(--navbar-background-color); // @compat

    // @compat
    & .navbar__brand {
      color: var(--navbar-link-color); // @compat
    }

    // @compat
    & .navbar__link {
      color: var(--navbar-link-color); // @compat

      // @compat
      &:hover {
        color: var(--navbar-link-hover-color); // @compat
      }
    }

    // @compat
    & .navbar__search {
      // @compat
      & input {
        background-color: var(
          --navbar-search-input-background-color
        ); // @compat
        background-image: var(--navbar-search-input-icon); // @compat
        color: var(--navbar-search-input-color); // @compat

        // @compat
        &::placeholder {
          color: var(--navbar-search-input-placeholder-color); // @compat
        }
      }
    }
  }

  & .navbar__search {
    padding-left: var(--navbar-padding-horizontal);

    & input {
      background-color: var(--navbar-search-input-background-color);
      background-image: var(--navbar-search-input-icon);
      background-position-x: 0.75rem;
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      border-radius: 2rem;
      border-width: 0;
      cursor: text;
      color: var(--navbar-search-input-color);
      display: inline-block;
      font-size: 0.9rem;
      line-height: 2rem;
      outline: none;
      padding: 0 0.5rem 0 2.25rem;
      transition: all 0.2s ease;
      width: 12.5rem;

      &::placeholder {
        color: var(--navbar-search-input-placeholder-color);
      }
    }
  }
}
