:root {
  --pagination-border-radius: calc(
    var(--global-radius) * var(--pagination-size-multiplier)
  );
  --pagination-color-active: var(--color-primary);
  --pagination-font-size: 1rem;
  --pagination-item-active-background: var(--color-emphasis-alpha-05);
  --pagination-page-spacing: 0.0625rem;
  --pagination-padding-horizontal: calc(var(--horizontal-spacing) * 1);
  --pagination-padding-vertical: calc(var(--vertical-spacing) * 0.25);
  --pagination-size-multiplier: 1;
}

.pagination {
  font-size: var(--pagination-font-size);
  padding-left: 0;

  & > .page-item {
    display: inline-block;
    list-style-type: none;

    &:not(:first-child) {
      margin-left: var(--pagination-page-spacing);
    }

    &:not(:last-child) {
      margin-right: var(--pagination-page-spacing);
    }

    & > span {
      padding: var(--pagination-padding-vertical);
    }

    & .page-link {
      border-radius: var(--pagination-border-radius);
      color: var(--font-color-base);
      display: inline-block;
      padding: var(--pagination-padding-vertical)
        var(--pagination-padding-horizontal);
      text-decoration: none;
    }

    &.page-item--active {
      & .page-link {
        background: var(--pagination-item-active-background);
        color: var(--pagination-color-active);
      }
    }

    &:not(.page-item--active):hover {
      & .page-link {
        background: var(--pagination-item-active-background);
        transition: background var(--transition-fast)
          cubic-bezier(0.08, 0.52, 0.52, 1);
      }
    }

    &.disabled,
    &:disabled,
    &[disabled] {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &.pagination--sm {
    --pagination-font-size: 0.8rem;
    --pagination-padding-horizontal: 0.8rem;
    --pagination-padding-vertical: 0.2rem;

    font-size: var(--pagination-font-size); // @compat
    // @compat
    & > .page-item {
      // @compat
      & .page-link {
        padding: var(--pagination-padding-vertical)
          var(--pagination-padding-horizontal); // @compat
      }
    }
  }

  &.pagination--lg {
    --pagination-font-size: 1.2rem;
    --pagination-padding-horizontal: 1.2rem;
    --pagination-padding-vertical: 0.3rem;

    font-size: var(--pagination-font-size); // @compat
    // @compat
    & > .page-item {
      // @compat
      & .page-link {
        padding: var(--pagination-padding-vertical)
          var(--pagination-padding-horizontal); // @compat
      }
    }
  }
}
