:root {
  --pills-color-active: var(--color-primary);
  --pills-color-background-active: var(--color-emphasis-alpha-05);
  --pills-spacing: 0.0625rem;
}

.pills {
  padding-left: 0;

  & > .pill-item {
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding: 0.25rem 1rem;

    &.pill-item--active {
      background: var(--pills-color-background-active);
      color: var(--pills-color-active);
    }

    &:not(.pill-item--active):hover {
      background-color: var(--pills-color-background-active);
      transition: background var(--transition-fast)
        cubic-bezier(0.08, 0.52, 0.52, 1);
    }

    &:not(:first-child) {
      margin-left: var(--pills-spacing);
    }

    &:not(:last-child) {
      margin-right: var(--pills-spacing);
    }
  }

  & > .pill-item + .pill-item {
    margin-top: 0;
  }

  &.pills--block {
    display: flex;
    justify-content: stretch;

    @media (--narrow-window) {
      flex-direction: column;
    }

    & > .pill-item {
      flex-grow: 1;
      text-align: center;

      @media (--narrow-window) {
        &:not(:first-child) {
          margin-top: var(--pills-spacing);
        }

        &:not(:last-child) {
          margin-bottom: var(--pills-spacing);
        }
      }
    }
  }
}
