:root {
  --tabs-color-active: var(--color-primary);
  --tabs-spacing: 0.0625rem;
}

.tabs {
  margin-bottom: 0;
  padding-left: 0;

  & > .tab-item {
    border-bottom: 4px solid transparent;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem 1.5rem;

    &.tab-item--active {
      border-bottom-color: var(--tabs-color-active);
    }

    &:not(.tab-item--active):hover {
      border-bottom-color: var(--color-emphasis-alpha-10);
    }
  }

  &.tabs-block {
    display: flex;
    justify-content: stretch;

    @media (--narrow-window) {
      flex-direction: column;
    }

    & > .tab-item {
      flex-grow: 1;
      text-align: center;

      @media (--narrow-window) {
        &:not(:first-child) {
          margin-top: var(--tabs-spacing);
        }

        &:not(:last-child) {
          margin-bottom: var(--tabs-spacing);
        }
      }
    }
  }
}
