.grid-demo [class^='col'] .col-demo {
  background-color: var(--ifm-color-emphasis-alpha-05);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  padding: 16px;
  text-align: center;
}

.grid-demo .row:not(:last-child) {
  margin-bottom: 1rem;
}

.grid-demo > .row:not(:last-child) {
  margin-bottom: 1rem;
}
