:root {
  // Colors.
  --ifm-dark-value: 10%;
  --ifm-darker-value: 15%;
  --ifm-darkest-value: 30%;
  --ifm-light-value: 15%;
  --ifm-lighter-value: 30%;
  --ifm-lightest-value: 50%;

  // Colors.
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: color-mod(
    var(--ifm-color-primary) shade(var(--ifm-dark-value))
  );
  --ifm-color-primary-darker: color-mod(
    var(--ifm-color-primary),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-primary-darkest: color-mod(
    var(--ifm-color-primary),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-primary-light: color-mod(
    var(--ifm-color-primary),
    tint(var(--ifm-light-value))
  );
  --ifm-color-primary-lighter: color-mod(
    var(--ifm-color-primary),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-primary-lightest: color-mod(
    var(--ifm-color-primary),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-dark: color-mod(
    var(--ifm-color-secondary),
    shade(var(--ifm-dark-value))
  );
  --ifm-color-secondary-darker: color-mod(
    var(--ifm-color-secondary),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-secondary-darkest: color-mod(
    var(--ifm-color-secondary),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-secondary-light: color-mod(
    var(--ifm-color-secondary),
    tint(var(--ifm-light-value))
  );
  --ifm-color-secondary-lighter: color-mod(
    var(--ifm-color-secondary),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-secondary-lightest: color-mod(
    var(--ifm-color-secondary),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-success: #00a400;
  --ifm-color-success-dark: color-mod(
    var(--ifm-color-success),
    shade(var(--ifm-dark-value))
  );
  --ifm-color-success-darker: color-mod(
    var(--ifm-color-success),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-success-darkest: color-mod(
    var(--ifm-color-success),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-success-light: color-mod(
    var(--ifm-color-success),
    tint(var(--ifm-light-value))
  );
  --ifm-color-success-lighter: color-mod(
    var(--ifm-color-success),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-success-lightest: color-mod(
    var(--ifm-color-success),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-info: #54c7ec;
  --ifm-color-info-dark: color-mod(
    var(--ifm-color-info),
    shade(var(--ifm-dark-value))
  );
  --ifm-color-info-darker: color-mod(
    var(--ifm-color-info),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-info-darkest: color-mod(
    var(--ifm-color-info),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-info-light: color-mod(
    var(--ifm-color-info),
    tint(var(--ifm-light-value))
  );
  --ifm-color-info-lighter: color-mod(
    var(--ifm-color-info),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-info-lightest: color-mod(
    var(--ifm-color-info),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-warning: #ffba00;
  --ifm-color-warning-dark: color-mod(
    var(--ifm-color-warning),
    shade(var(--ifm-dark-value))
  );
  --ifm-color-warning-darker: color-mod(
    var(--ifm-color-warning),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-warning-darkest: color-mod(
    var(--ifm-color-warning),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-warning-light: color-mod(
    var(--ifm-color-warning),
    tint(var(--ifm-light-value))
  );
  --ifm-color-warning-lighter: color-mod(
    var(--ifm-color-warning),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-warning-lightest: color-mod(
    var(--ifm-color-warning),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-danger: #fa383e;
  --ifm-color-danger-dark: color-mod(
    var(--ifm-color-danger),
    shade(var(--ifm-dark-value))
  );
  --ifm-color-danger-darker: color-mod(
    var(--ifm-color-danger),
    shade(var(--ifm-darker-value))
  );
  --ifm-color-danger-darkest: color-mod(
    var(--ifm-color-danger),
    shade(var(--ifm-darkest-value))
  );
  --ifm-color-danger-light: color-mod(
    var(--ifm-color-danger),
    tint(var(--ifm-light-value))
  );
  --ifm-color-danger-lighter: color-mod(
    var(--ifm-color-danger),
    tint(var(--ifm-lighter-value))
  );
  --ifm-color-danger-lightest: color-mod(
    var(--ifm-color-danger),
    tint(var(--ifm-lightest-value))
  );

  --ifm-color-white: #fff;
  --ifm-color-white-alpha-05: rgba(255, 255, 255, 0.05);
  --ifm-color-white-alpha-10: rgba(255, 255, 255, 0.1);
  --ifm-color-white-alpha-15: rgba(255, 255, 255, 0.15);
  --ifm-color-white-alpha-20: rgba(255, 255, 255, 0.2);
  --ifm-color-white-alpha-30: rgba(255, 255, 255, 0.3);
  --ifm-color-white-alpha-40: rgba(255, 255, 255, 0.4);
  --ifm-color-white-alpha-50: rgba(255, 255, 255, 0.5);
  --ifm-color-white-alpha-60: rgba(255, 255, 255, 0.6);
  --ifm-color-white-alpha-80: rgba(255, 255, 255, 0.8);

  --ifm-color-black: #000;
  --ifm-color-black-alpha-05: rgba(0, 0, 0, 0.05);
  --ifm-color-black-alpha-10: rgba(0, 0, 0, 0.1);
  --ifm-color-black-alpha-15: rgba(0, 0, 0, 0.15);
  --ifm-color-black-alpha-20: rgba(0, 0, 0, 0.2);
  --ifm-color-black-alpha-30: rgba(0, 0, 0, 0.3);
  --ifm-color-black-alpha-40: rgba(0, 0, 0, 0.4);
  --ifm-color-black-alpha-50: rgba(0, 0, 0, 0.5);
  --ifm-color-black-alpha-60: rgba(0, 0, 0, 0.6);
  --ifm-color-black-alpha-80: rgba(0, 0, 0, 0.8);

  // Base.
  --ifm-color-content: #1f2227;
  --ifm-color-content-inverse: var(--ifm-color-white);

  --ifm-color-emphasis: var(--ifm-color-black);
  --ifm-color-emphasis-alpha-05: var(--ifm-color-black-alpha-05);
  --ifm-color-emphasis-alpha-10: var(--ifm-color-black-alpha-10);
  --ifm-color-emphasis-alpha-15: var(--ifm-color-black-alpha-15);
  --ifm-color-emphasis-alpha-20: var(--ifm-color-black-alpha-20);
  --ifm-color-emphasis-alpha-30: var(--ifm-color-black-alpha-30);
  --ifm-color-emphasis-alpha-40: var(--ifm-color-black-alpha-40);
  --ifm-color-emphasis-alpha-50: var(--ifm-color-black-alpha-50);
  --ifm-color-emphasis-alpha-60: var(--ifm-color-black-alpha-60);
  --ifm-color-emphasis-alpha-80: var(--ifm-color-black-alpha-80);

  --ifm-color-emphasis-inverse: var(--ifm-color-white);
  --ifm-color-emphasis-inverse-alpha-05: var(--ifm-color-white-alpha-05);
  --ifm-color-emphasis-inverse-alpha-10: var(--ifm-color-white-alpha-10);
  --ifm-color-emphasis-inverse-alpha-15: var(--ifm-color-white-alpha-15);
  --ifm-color-emphasis-inverse-alpha-20: var(--ifm-color-white-alpha-20);
  --ifm-color-emphasis-inverse-alpha-30: var(--ifm-color-white-alpha-30);
  --ifm-color-emphasis-inverse-alpha-40: var(--ifm-color-white-alpha-40);
  --ifm-color-emphasis-inverse-alpha-50: var(--ifm-color-white-alpha-50);
  --ifm-color-emphasis-inverse-alpha-60: var(--ifm-color-white-alpha-60);
  --ifm-color-emphasis-inverse-alpha-80: var(--ifm-color-white-alpha-80);

  --ifm-background-color: transparent; // Body's background.
  --ifm-background-surface-color: var(--ifm-color-content-inverse);
  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.25rem;

  // Typography.
  --ifm-font-base-color: var(--ifm-color-content);
  --ifm-font-base-color-inverse: var(--ifm-color-content-inverse);
  --ifm-font-family-base: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --ifm-font-size-base: 15px;

  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 700;

  --ifm-font-weight-base: var(--ifm-font-weight-normal);
  --ifm-line-height-base: 1.5;

  // Spacing.
  --ifm-global-spacing: 1rem;
  --ifm-spacing-vertical: var(--ifm-global-spacing);
  --ifm-spacing-horizontal: var(--ifm-global-spacing);

  // Transitions.
  --ifm-transition-fast: 200ms;
  --ifm-transition-slow: 200ms;

  // Shadows.
  --ifm-global-shadow-lw: 0 1px 2px 0 var(--ifm-color-black-alpha-10);
  --ifm-global-shadow-md: 0 5px 40px var(--ifm-color-black-alpha-20);
  --ifm-global-shadow-tl: 0 12px 28px 0 var(--ifm-color-black-alpha-20),
    0 2px 4px 0 var(--ifm-color-black-alpha-10);

  // Z-index.
  --ifm-z-index-dropdown: 100;
  --ifm-z-index-fixed: 200;
  --ifm-z-index-overlay: 400;
}

@custom-media --ifm-narrow-window (max-width: 996px);
