:root {
  // Colors.
  --dark-value: 10%;
  --darker-value: 15%;
  --darkest-value: 30%;
  --light-value: 15%;
  --lighter-value: 30%;
  --lightest-value: 50%;

  // Colors.
  --color-primary: #3578e5;
  --color-primary-dark: color-mod(
    var(--color-primary) shade(var(--dark-value))
  );
  --color-primary-darker: color-mod(
    var(--color-primary),
    shade(var(--darker-value))
  );
  --color-primary-darkest: color-mod(
    var(--color-primary),
    shade(var(--darkest-value))
  );
  --color-primary-light: color-mod(
    var(--color-primary),
    tint(var(--light-value))
  );
  --color-primary-lighter: color-mod(
    var(--color-primary),
    tint(var(--lighter-value))
  );
  --color-primary-lightest: color-mod(
    var(--color-primary),
    tint(var(--lightest-value))
  );

  --color-secondary: #ebedf0;
  --color-secondary-dark: color-mod(
    var(--color-secondary),
    shade(var(--dark-value))
  );
  --color-secondary-darker: color-mod(
    var(--color-secondary),
    shade(var(--darker-value))
  );
  --color-secondary-darkest: color-mod(
    var(--color-secondary),
    shade(var(--darkest-value))
  );
  --color-secondary-light: color-mod(
    var(--color-secondary),
    tint(var(--light-value))
  );
  --color-secondary-lighter: color-mod(
    var(--color-secondary),
    tint(var(--lighter-value))
  );
  --color-secondary-lightest: color-mod(
    var(--color-secondary),
    tint(var(--lightest-value))
  );

  --color-success: #00a400;
  --color-success-dark: color-mod(
    var(--color-success),
    shade(var(--dark-value))
  );
  --color-success-darker: color-mod(
    var(--color-success),
    shade(var(--darker-value))
  );
  --color-success-darkest: color-mod(
    var(--color-success),
    shade(var(--darkest-value))
  );
  --color-success-light: color-mod(
    var(--color-success),
    tint(var(--light-value))
  );
  --color-success-lighter: color-mod(
    var(--color-success),
    tint(var(--lighter-value))
  );
  --color-success-lightest: color-mod(
    var(--color-success),
    tint(var(--lightest-value))
  );

  --color-info: #54c7ec;
  --color-info-dark: color-mod(var(--color-info), shade(var(--dark-value)));
  --color-info-darker: color-mod(var(--color-info), shade(var(--darker-value)));
  --color-info-darkest: color-mod(
    var(--color-info),
    shade(var(--darkest-value))
  );
  --color-info-light: color-mod(var(--color-info), tint(var(--light-value)));
  --color-info-lighter: color-mod(
    var(--color-info),
    tint(var(--lighter-value))
  );
  --color-info-lightest: color-mod(
    var(--color-info),
    tint(var(--lightest-value))
  );

  --color-warning: #ffba00;
  --color-warning-dark: color-mod(
    var(--color-warning),
    shade(var(--dark-value))
  );
  --color-warning-darker: color-mod(
    var(--color-warning),
    shade(var(--darker-value))
  );
  --color-warning-darkest: color-mod(
    var(--color-warning),
    shade(var(--darkest-value))
  );
  --color-warning-light: color-mod(
    var(--color-warning),
    tint(var(--light-value))
  );
  --color-warning-lighter: color-mod(
    var(--color-warning),
    tint(var(--lighter-value))
  );
  --color-warning-lightest: color-mod(
    var(--color-warning),
    tint(var(--lightest-value))
  );

  --color-danger: #fa383e;
  --color-danger-dark: color-mod(var(--color-danger), shade(var(--dark-value)));
  --color-danger-darker: color-mod(
    var(--color-danger),
    shade(var(--darker-value))
  );
  --color-danger-darkest: color-mod(
    var(--color-danger),
    shade(var(--darkest-value))
  );
  --color-danger-light: color-mod(
    var(--color-danger),
    tint(var(--light-value))
  );
  --color-danger-lighter: color-mod(
    var(--color-danger),
    tint(var(--lighter-value))
  );
  --color-danger-lightest: color-mod(
    var(--color-danger),
    tint(var(--lightest-value))
  );

  --color-white: #fff;
  --color-white-alpha-05: rgba(255, 255, 255, 0.05);
  --color-white-alpha-10: rgba(255, 255, 255, 0.1);
  --color-white-alpha-15: rgba(255, 255, 255, 0.15);
  --color-white-alpha-20: rgba(255, 255, 255, 0.2);
  --color-white-alpha-30: rgba(255, 255, 255, 0.3);
  --color-white-alpha-40: rgba(255, 255, 255, 0.4);
  --color-white-alpha-50: rgba(255, 255, 255, 0.5);
  --color-white-alpha-60: rgba(255, 255, 255, 0.6);
  --color-white-alpha-80: rgba(255, 255, 255, 0.8);

  --color-black: #000;
  --color-black-alpha-05: rgba(0, 0, 0, 0.05);
  --color-black-alpha-10: rgba(0, 0, 0, 0.1);
  --color-black-alpha-15: rgba(0, 0, 0, 0.15);
  --color-black-alpha-20: rgba(0, 0, 0, 0.2);
  --color-black-alpha-30: rgba(0, 0, 0, 0.3);
  --color-black-alpha-40: rgba(0, 0, 0, 0.4);
  --color-black-alpha-50: rgba(0, 0, 0, 0.5);
  --color-black-alpha-60: rgba(0, 0, 0, 0.6);
  --color-black-alpha-80: rgba(0, 0, 0, 0.8);

  // Base.
  --color-link: var(--color-primary);
  --color-content: #1f2227;
  --color-content-inverse: var(--color-white);

  --color-emphasis: var(--color-black);
  --color-emphasis-alpha-05: var(--color-black-alpha-05);
  --color-emphasis-alpha-10: var(--color-black-alpha-10);
  --color-emphasis-alpha-15: var(--color-black-alpha-15);
  --color-emphasis-alpha-20: var(--color-black-alpha-20);
  --color-emphasis-alpha-30: var(--color-black-alpha-30);
  --color-emphasis-alpha-40: var(--color-black-alpha-40);
  --color-emphasis-alpha-50: var(--color-black-alpha-50);
  --color-emphasis-alpha-60: var(--color-black-alpha-60);
  --color-emphasis-alpha-80: var(--color-black-alpha-80);

  --color-emphasis-inverse: var(--color-white);
  --color-emphasis-inverse-alpha-05: var(--color-white-alpha-05);
  --color-emphasis-inverse-alpha-10: var(--color-white-alpha-10);
  --color-emphasis-inverse-alpha-15: var(--color-white-alpha-15);
  --color-emphasis-inverse-alpha-20: var(--color-white-alpha-20);
  --color-emphasis-inverse-alpha-30: var(--color-white-alpha-30);
  --color-emphasis-inverse-alpha-40: var(--color-white-alpha-40);
  --color-emphasis-inverse-alpha-50: var(--color-white-alpha-50);
  --color-emphasis-inverse-alpha-60: var(--color-white-alpha-60);
  --color-emphasis-inverse-alpha-80: var(--color-white-alpha-80);

  --background-color: transparent; // Body's background.
  --background-surface-color: var(--color-content-inverse);
  --global-border-width: 1px;
  --global-radius: 0.25rem;
  --global-shadow-lw: 0 1px 2px 0 var(--color-black-alpha-10);
  --global-shadow-md: 0 5px 40px var(--color-black-alpha-20);
  --global-shadow-tl: 0 12px 28px 0 var(--color-black-alpha-20),
    0 2px 4px 0 var(--color-black-alpha-10);

  // Typography.
  --font-color-base: var(--color-content);
  --font-color-base-inverse: var(--color-content-inverse);
  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  // Grid.
  --container-width: 1140px;
  --global-spacing: 1rem;
  --vertical-spacing: var(--global-spacing);
  --horizontal-spacing: var(--global-spacing);

  // Transitions.
  --transition-fast: 200ms;
  --transition-slow: 200ms;

  // Links.
  --link-color: var(--color-link);
  --link-decoration: none;
  --link-hover-color: var(--link-color);
  --link-hover-decoration: underline;

  // Paragraphs.
  --paragraph-margin-bottom: 1rem;

  // Headings.
  --headings-margin-top: 0;
  --headings-margin-bottom: var(--vertical-spacing);
  --headings-font-family: inherit;
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.25;

  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.85rem;

  --headings-color: inherit;

  // Lists.
  --list-left-padding: 2rem;
  --list-margin: 1rem;
  --list-item-margin: 0.25rem;
  --list-paragraph-margin: 1rem;

  // Images.
  --image-alignment-padding: 1.25rem;

  // Tables.
  --table-cell-padding: 0.75rem;

  --table-bg: transparent;
  --table-stripe-bg: var(--color-emphasis-alpha-05);

  --table-border-width: 1px;
  --table-border-color: var(--color-emphasis-alpha-20);

  --table-head-bg: inherit;
  --table-head-color: inherit;
  --table-head-font-weight: var(--font-weight-bold);

  --table-cell-color: inherit;

  // Blockquotes.
  --blockquote-color: #6a737d;
  --blockquote-font-size: var(--font-size-base);
  --blockquote-padding-x: 0;
  --blockquote-padding-y: 0;

  // Code.
  --code-bg: var(--color-emphasis-alpha-05);
  --code-border-radius: var(--global-radius);
  --code-color: var(--color-emphasis-alpha-80);
  --code-font-size: 85%;
  --code-padding-x: calc(var(--font-size-base) * 0.4);
  --code-padding-y: calc(var(--font-size-base) * 0.2);

  --pre-bg: var(--color-emphasis-alpha-05);
  --pre-border-radius: var(--code-border-radius);
  --pre-color: inherit;
  --pre-line-height: 1.45;
  --pre-padding: 1rem;

  --kbd-bg: #fafbfc;
  --kbd-border-color: #d1d5da;
  --kbd-border-radius: var(--code-border-radius);
  --kbd-color: #444d56;
  --kbd-font-size: 68.75%;
  --kbd-line-height: 0.625rem;
  --kbd-padding-x: 0.3125rem;
  --kbd-padding-y: 0.1875rem;

  // Horizontal Rules.
  --hr-border-color: var(--color-emphasis-alpha-10);
  --hr-border-width: 1px;
  --hr-vertical-margin: 1.5rem;
}

@custom-media --narrow-window (max-width: 996px);
