// Scaffold
$font-color-base: #24292e;
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base: 16px;
$line-height-base: 1.5;

@import '../markswatch';

// Headings
.markswatch-body h1,
.markswatch-body h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markswatch-body h6 {
  color: #6a737d;
}

// Blockquotes
.markswatch-body blockquote {
  border-left: 0.25em solid #dfe2e5;
}

// Horizontal Rules
.markswatch-body hr {
  background-color: #e1e4e8;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  border-bottom-color: #eee;
  height: 0.25em;
}
