$font-color-base: rgba(0, 0, 0, 0.84);
$font-size-base: 20px;
$font-family-base: medium-content-sans-serif-font, 'Lucida Grande',
  'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

@import '../markswatch';
