.btn {
  // TODO: Allow links to be styled as buttons.
  --button-theme-color: transparent;

  --button-background-color: var(--button-theme-color);
  --button-border-color: var(--button-theme-color);
  --button-border-width: var(--global-border-width);
  --button-color: var(--color-white);
  --button-padding-horizontal: 1.5rem;
  --button-padding-vertical: 0.375rem;
  --button-size-multiplier: 1;
  --button-transition-duration: 0.15s;
  --button-border-radius: calc(
    var(--global-radius) * var(--button-size-multiplier)
  );

  appearance: none;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-style: solid;
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.8rem * var(--button-size-multiplier));
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  outline: 0;
  padding: calc(var(--button-padding-vertical) * var(--button-size-multiplier))
    calc(var(--button-padding-horizontal) * var(--button-size-multiplier));
  text-align: center;
  text-decoration: none;
  transition: color var(--button-transition-duration) ease-in-out,
    background var(--button-transition-duration) ease-in-out,
    border-color var(--button-transition-duration) ease-in-out,
    box-shadow var(--button-transition-duration) ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  &.btn-outline {
    --button-background-color: transparent;
    --button-color: var(--button-theme-color);

    &:hover {
      --button-background-color: var(--button-theme-color);
    }

    &:hover,
    &:active,
    &.btn-active {
      --button-color: var(--color-white);
    }
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }

  &.btn-sm {
    --button-size-multiplier: 0.8;
  }

  &.btn-lg {
    --button-size-multiplier: 1.35;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-secondary {
    color: var(--color-black);
  }

  @each $color in $colors {
    &.btn-#{$color} {
      --button-theme-color: var(--color-#{$color});

      &:hover:not(.btn-outline) {
        --button-theme-color: var(--color-#{$color}-dark);
      }
    }

    &.btn.btn-#{$color} {
      &:active,
      &.btn-active {
        --button-theme-color: var(--color-#{$color}-darker);

        background-color: var(--color-#{$color}-darker);
      }
    }
  }
}
