.footer {
  --footer-background-color: var(--color-black-alpha-05);
  --footer-color: inherit;
  --footer-link-color: var(--color-black-alpha-50);
  --footer-link-hover-color: var(--color-primary);
  --footer-link-horizontal-spacing: 0.5rem;
  --footer-padding-horizontal: calc(var(--horizontal-spacing) * 2);
  --footer-padding-vertical: calc(var(--vertical-spacing) * 2);
  --footer-title-color: inherit;

  background-color: var(--footer-background-color);
  color: var(--footer-color);
  padding: var(--footer-padding-vertical) var(--footer-padding-horizontal);
  width: 100%;

  &.footer-dark {
    --footer-background-color: #303846;
    --footer-link-color: var(--color-secondary);
    --footer-link-hover-color: var(--color-secondary-light);
    --footer-color: var(--footer-link-color);
    --footer-title-color: var(--color-white);
  }

  .footer-links {
    margin-bottom: 1rem;
  }

  .footer-text {
    color: var(--footer-color);
  }

  .footer-logo {
    margin-top: 1rem;
    max-width: 10rem;
  }

  .footer-title {
    color: var(--footer-title-color);
  }

  .footer-items {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .footer-link-separator {
    margin-left: var(--footer-link-horizontal-spacing);
    margin-right: var(--footer-link-horizontal-spacing);
  }

  @media (max-width: 1024px) {
    --footer-padding-horizontal: var(--horizontal-spacing);

    .footer-col {
      margin-bottom: calc(var(--vertical-spacing) * 2);
    }
  }
}
