.menu {
  --menu-color-active: var(--color-primary);

  overflow-x: hidden;

  .menu-list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    transition: height 200ms cubic-bezier(0.08, 0.52, 0.52, 1);

    .menu-list {
      margin-left: 0.75rem;
    }
  }

  > .menu-list > .menu-list-item > .menu-link {
    font-weight: bold;
  }

  .menu-list-item {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;

    &.menu-list-item-collapsed {
      .menu-list {
        height: 0;
        overflow: hidden;
      }

      .menu-link-sublist:after {
        transform: rotateX(180deg);
      }
    }
  }

  .menu-link {
    border-radius: 0.25rem;
    color: #717171;
    cursor: pointer;
    display: flex;
    font-size: 0.875em;
    line-height: 20px;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
    padding: 0.5rem 0.75rem;

    &.menu-link-sublist:after {
      background-image: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
      background-size: 2rem 2rem;
      background-position: center;
      content: ' ';
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  .menu-link:hover {
    background-color: var(--color-black-alpha-05);
    color: #717171;
  }

  .menu-list-item-active {
    > .menu-link {
      &,
      &:hover {
        color: var(--menu-color-active);
      }
    }

    > .menu-link:not(.menu-link-sublist) {
      &,
      &:hover {
        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)
          )
          var(--menu-color-active);
      }
    }
  }

  &.menu-responsive {
    .menu-button {
      display: none;
      position: fixed;
      bottom: 2rem;
      right: 1rem;

      @media (max-width: map-get($grid-breakpoints, lg)) {
        display: inherit;
      }
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .menu-list {
        display: none;
        opacity: 0;
      }
    }
  }

  &.menu-show {
    background: var(--color-white);
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    .menu-list {
      display: inherit;
      opacity: 100;
      transition: opacity 300ms linear;
    }
  }
}
