.pagination {
  --pagination-border-radius: calc(
    var(--global-radius) * var(--pagination-size-multiplier)
  );
  --pagination-color-active: var(--color-primary);
  --pagination-page-spacing: 0.0625rem;
  --pagination-padding-horizontal: calc(var(--horizontal-spacing) * 1);
  --pagination-padding-vertical: calc(var(--vertical-spacing) * 0.25);
  --pagination-size-multiplier: 1;

  padding-left: 0;

  > .page-item {
    display: inline-block;
    list-style-type: none;

    &:not(:first-child) {
      margin-left: var(--pagination-page-spacing);
    }

    &:not(:last-child) {
      margin-right: var(--pagination-page-spacing);
    }

    > span {
      padding: var(--pagination-padding-vertical);
    }

    .page-link {
      border-radius: var(--pagination-border-radius);
      color: var(--font-color-base);
      display: inline-block;
      font-size: calc(1rem * var(--pagination-size-multiplier));
      padding: calc(
          var(--pagination-padding-vertical) * var(--pagination-size-multiplier)
        )
        calc(
          var(--pagination-padding-horizontal) *
            var(--pagination-size-multiplier)
        );
      text-decoration: none;
    }

    &.page-active {
      .page-link {
        background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)
          )
          var(--pagination-color-active);
        color: var(--pagination-color-active);
      }
    }

    &:not(.page-active):hover {
      .page-link {
        background-color: var(--color-black-alpha-05);
        transition: background 0.2s ease-in-out;
      }
    }

    &.disabled,
    &:disabled,
    &[disabled] {
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &.pagination-sm {
    --pagination-size-multiplier: 0.8;
  }

  &.pagination-lg {
    --pagination-size-multiplier: 1.35;
  }
}
