.alert {
  --alert-color: transparent;

  --background-color: var(--alert-color);
  --border-color: var(--alert-color);
  --border-radius: var(--global-radius);
  --border-width: var(--global-border-width);
  --color: var(--color-white);
  --padding-horizontal: 1rem;
  --padding-vertical: 1rem;

  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color);
  padding: var(--padding-vertical) var(--padding-horizontal);

  @each $color in $colors {
    &.alert-#{$color} {
      --alert-color: var(--color-#{$color});
      --color: var(--color-#{$color}-darkerer);
    }
  }

  .close {
    --margin: -1rem;
    
    margin-right: var(--margin);
    margin-top: var(--margin);
  }
}
