.avatar {
  --intro-left-margin: 1rem;
  --intro-alignment: inherit;
  --profile-bottom-margin: 0;
  --avatar-profile-size-sm: 2rem;
  --avatar-profile-size-md: 3rem;
  --avatar-profile-size-lg: 4rem;
  --avatar-profile-size-xl: 6rem;

  display: flex;

  &.avatar-vertical {
    --intro-left-margin: 0;
    --intro-alignment: center;
    --profile-bottom-margin: 0.5rem;

    flex-direction: column;
    align-items: center;
  }

  /* TODO: Allow for wrapping within anchor */
  .avatar-profile {
    border-radius: 50%;
    height: var(--avatar-profile-size-md);
    margin-bottom: var(--profile-bottom-margin);
    width: var(--avatar-profile-size-md);

    &.avatar-profile-sm {
      height: var(--avatar-profile-size-sm);
      width: var(--avatar-profile-size-sm);
    }

    &.avatar-profile-lg {
      height: var(--avatar-profile-size-lg);
      width: var(--avatar-profile-size-lg);
    }

    &.avatar-profile-xl {
      height: var(--avatar-profile-size-xl);
      width: var(--avatar-profile-size-xl);
    }
  }

  .avatar-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--intro-left-margin);
    text-align: var(--intro-alignment);
  }

  .avatar-name {
    margin: 0;
  }

  .avatar-subtitle {
    margin-top: 0.25rem;
  }
}
