.avatar {
  --intro-left-margin: 1rem;
  --intro-alignment: inherit;
  --profile-bottom-margin: 0;

  display: flex;

  &.avatar-vertical {
    --intro-left-margin: 0;
    --intro-alignment: center;
    --profile-bottom-margin: 0.5rem;

    flex-direction: column;
    align-items: center;
  }

  .avatar-profile {
    border-radius: 50%;
    height: 3rem;
    margin-bottom: var(--profile-bottom-margin);
    width: 3rem;
  }

  .avatar-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--intro-left-margin);
    text-align: var(--intro-alignment);
  }

  .avatar-name {
    margin: 0;
  }

  .avatar-subtitle {
    margin-top: 0.25rem;
  }
}
