.avatar {
  --intro-left-margin: 1rem;
  --intro-alignment: inherit;
  --photo-bottom-margin: 0;
  --photo-size-sm: 2rem;
  --photo-size-md: 3rem;
  --photo-size-lg: 4rem;
  --photo-size-xl: 6rem;

  display: flex;

  &.avatar-vertical {
    --intro-left-margin: 0;
    --intro-alignment: center;
    --photo-bottom-margin: 0.5rem;

    flex-direction: column;
    align-items: center;
  }

  .avatar-photo-link {
    display: block;
  }

  .avatar-photo {
    border-radius: 50%;
    height: var(--photo-size-md);
    margin-bottom: var(--photo-bottom-margin);
    width: var(--photo-size-md);

    &.avatar-photo-sm {
      height: var(--photo-size-sm);
      width: var(--photo-size-sm);
    }

    &.avatar-photo-lg {
      height: var(--photo-size-lg);
      width: var(--photo-size-lg);
    }

    &.avatar-photo-xl {
      height: var(--photo-size-xl);
      width: var(--photo-size-xl);
    }
  }

  .avatar-intro {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--intro-left-margin);
    text-align: var(--intro-alignment);
  }

  .avatar-name {
    margin: 0;
  }

  .avatar-subtitle {
    margin-top: 0.25rem;
  }
}
