blockquote {
  color: var(--blockquote-color);
  font-size: var(--blockquote-font-size);
  margin: 0;
  margin-bottom: var(--vertical-space);
  padding: var(--blockquote-padding-y) var(--blockquote-padding-x);
}
