.btn {
  --button-color: transparent;
  --background-color: var(--button-color);
  --border-color: var(--button-color);
  --color: var(--color-white);

  appearance: none;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  color: var(--color);
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 2.3rem;
  line-height: 1.5;
  outline: 0;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: color var(--button-transition-duration) ease-in-out,
    background var(--button-transition-duration) ease-in-out,
    border-color var(--button-transition-duration) ease-in-out,
    box-shadow var(--button-transition-duration) ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  &.btn.btn.btn-outline:hover {
    --color: var(--color-white);
  }

  &.btn-outline {
    --background-color: transparent;
    --color: var(--button-color);

    &:hover {
      --background-color: var(--button-color);
    }
  }

  $colors: ('primary', 'secondary', 'success', 'info', 'warning', 'danger');
  @each $color in $colors {
    &.btn-#{$color} {
      --button-color: var(--color-#{$color});
    }
  }
}
