.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  padding-left: calc(var(--horizontal-spacing) / 2);
  padding-right: calc(var(--horizontal-spacing) / 2);

  &.container-fluid {
    max-width: inherit;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--horizontal-spacing) * -0.5);
  margin-right: calc(var(--horizontal-spacing) * -0.5);

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .col,
    > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.row-align-top {
    align-items: flex-start;
  }

  &.row-align-bottom {
    align-items: flex-end;
  }

  &.row-align-center {
    align-items: center;
  }

  &.row-align-stretch {
    align-items: stretch;
  }

  &.row-align-baseline {
    align-items: baseline;
  }

  [class*="col-"] {
    padding-left: calc(var(--horizontal-spacing) / 2);
    padding-right: calc(var(--horizontal-spacing) / 2);
  }

  .col {
    $columns: 12;
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    &[class*="col-"] {
      flex: 0 0 var(--width);
      max-width: var(--width);
    }

    @media (max-width: 1024px) {
      &.col[class*="col-"] {
        --width: 100%;
        margin-left: 0;
      }
    }

    @for $column from 1 through $columns {
      $percentage: $column/$columns * 100;
      &.col-#{$column} {
        --width: #{$percentage}%;
      }

      &.col-offset-#{$column} {
        margin-left: $percentage#{%};
      }
    }
  }
}
