.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: calc(var(--horizontal-spacing) / 2);
  padding-right: calc(var(--horizontal-spacing) / 2);

  &.container-fluid {
    max-width: inherit;
  }
}

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--horizontal-spacing) / 2);
  margin-right: calc(-1 * var(--horizontal-spacing) / 2);

  &.no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .col,
    > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.rows-top {
    align-items: flex-start;
  }

  &.rows-bottom {
    align-items: flex-end;
  }

  &.rows-center {
    align-items: center;
  }

  &.rows-stretch {
    align-items: stretch;
  }

  &.rows-baseline {
    align-items: baseline;
  }

  [class*="col-"] {
    padding-left: calc(var(--horizontal-spacing) / 2);
    padding-right: calc(var(--horizontal-spacing) / 2);
  }
}
