hr {
  border-color: var(--hr-border-color);
  border-style: solid;
  border-width: var(--hr-border-width);
  box-sizing: content-box;
  margin: var(--hr-vertical-margin) 0;
  overflow: hidden;
  padding: 0;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

