@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

:root {
  /* Typography */
  --ifm-font-base-color: #212121;
  --ifm-font-family-base: Roboto, sans-serif;
  --ifm-font-family-monospace: 'Roboto Mono', monospace;

  --ifm-font-weight-normal: 400;
  --ifm-font-weight-bold: 700;

  /* Links */
  --ifm-link-color: #039be5;
  --ifm-link-hover-decoration: none;

  /* Headings */
  --ifm-headings-font-weight: var(--ifm-font-weight-normal);

  /* Tables */
  --ifm-table-cell-padding: 0.75rem 1rem;

  --ifm-table-background: #78909c;
  --ifm-table-stripe-background: var(--ifm-table-background);

  --ifm-table-head-background: #78909c;
  --ifm-table-head-color: #fff;
  --ifm-table-head-font-weight: var(--ifm-font-weight-normal);

  --ifm-table-cell-color: #212121;

  /* Blockquotes */
  --ifm-blockquote-color: rgba(0, 0, 0, 0.54);

  /* Code */
  --ifm-code-background: #f7f7f7;
  --ifm-code-border-radius: 0;
  --ifm-code-color: #37474f;

  --ifm-kbd-border-radius: 3px;
  --ifm-kbd-color: #555;
  --ifm-kbd-font-size: 85%;
  --ifm-kbd-line-height: 1.6;
  --ifm-kbd-padding-horizontal: 0.29412rem;
  --ifm-kbd-padding-vertical: 0;
}
