// Headings
h1,
h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3rem;
}

h6 {
  color: #6a737d;
}

// Blockquotes
blockquote {
  border-left: 0.25rem solid var(--github-gray);
}

// Horizontal Rules
hr {
  background-color: #e1e4e8;
  border: 0;
  border-bottom: 1px solid var(--github-gray);
  border-bottom-color: #eee;
  height: 0.25rem;
}
