name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: yarn install
      - name: Prettier
        run: yarn format:check
      - name: Stylelint
        run: yarn lint
      # Ensure that all the expected files have been commited (yarn.lock, /dist...)
      - name: Git staged is empty
        run: yarn build && git diff --exit-code
