.markswatch-body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word; }
  .markswatch-body:before {
    content: '';
    display: table; }
  .markswatch-body:after {
    clear: both;
    content: '';
    display: table; }
  .markswatch-body > *:first-child {
    margin-top: 0 !important; }
  .markswatch-body > *:last-child {
    margin-bottom: 0 !important; }
  .markswatch-body * {
    box-sizing: border-box; }
  .markswatch-body strong {
    font-weight: 600; }
  .markswatch-body [type='checkbox'] {
    box-sizing: border-box;
    padding: 0; }
  .markswatch-body a {
    color: #0366d6;
    text-decoration: none; }
    .markswatch-body a:hover {
      color: #0366d6;
      text-decoration: underline; }
    .markswatch-body a:active, .markswatch-body a:hover {
      outline-width: 0; }
    .markswatch-body a:not([href]) {
      color: inherit;
      text-decoration: none; }
  .markswatch-body p {
    margin-bottom: 1em;
    margin-top: 0; }

.markswatch-body h1,
.markswatch-body h2,
.markswatch-body h3,
.markswatch-body h4,
.markswatch-body h5,
.markswatch-body h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1.5em; }

.markswatch-body h1 {
  font-size: 32px; }

.markswatch-body h2 {
  font-size: 24px; }

.markswatch-body h3 {
  font-size: 20px; }

.markswatch-body h4 {
  font-size: 16px; }

.markswatch-body h5 {
  font-size: 14px; }

.markswatch-body h6 {
  font-size: 13.6px; }

.markswatch-body ul,
.markswatch-body ol {
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 2em; }

.markswatch-body ol ol,
.markswatch-body ul ol {
  list-style-type: lower-roman; }

.markswatch-body ul ul,
.markswatch-body ul ol,
.markswatch-body ol ol,
.markswatch-body ol ul {
  margin-bottom: 0;
  margin-top: 0; }

.markswatch-body ul ul ol,
.markswatch-body ul ol ol,
.markswatch-body ol ul ol,
.markswatch-body ol ol ol {
  list-style-type: lower-alpha; }

.markswatch-body li {
  word-wrap: break-all; }
  .markswatch-body li > p {
    margin-top: 1em; }
  .markswatch-body li + li {
    margin-top: 0.25em; }

.markswatch-body img {
  background-color: #fff;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%; }

.markswatch-body img[align='right'] {
  padding-left: 1.25em; }

.markswatch-body img[align='left'] {
  padding-right: 1.25em; }

.markswatch-body table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  width: 100%; }
  .markswatch-body table tr {
    background-color: transparent;
    border-top: 1px solid #dfe2e5; }
  .markswatch-body table tr:nth-child(2n) {
    background-color: #f6f8fa; }
  .markswatch-body table th,
  .markswatch-body table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px; }
  .markswatch-body table th {
    background-color: inherit;
    color: inherit;
    font-weight: 600; }
  .markswatch-body table td {
    color: inherit; }

.markswatch-body blockquote {
  color: #6a737d;
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 1em; }

.markswatch-body > :first-child {
  margin-top: 0; }

.markswatch-body > :last-child {
  margin-bottom: 0; }

.markswatch-body code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px; }

.markswatch-body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  line-height: 1.45;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  padding: 1em;
  word-wrap: normal; }
  .markswatch-body pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal; }

.markswatch-body kbd {
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 68.75%;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle; }

.markswatch-body hr {
  border-color: #dfe2e5;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  margin: 1.5em 0;
  overflow: hidden;
  padding: 0; }
  .markswatch-body hr:before {
    content: '';
    display: table; }
  .markswatch-body hr:after {
    clear: both;
    content: '';
    display: table; }

.markswatch-body h1,
.markswatch-body h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em; }

.markswatch-body h6 {
  color: #6a737d; }

.markswatch-body blockquote {
  border-left: 0.25em solid #dfe2e5; }

.markswatch-body hr {
  background-color: #e1e4e8;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  border-bottom-color: #eee;
  height: 0.25em; }
