body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word; }
  body:before {
    content: '';
    display: table; }
  body:after {
    clear: both;
    content: '';
    display: table; }
  body > *:first-child {
    margin-top: 0 !important; }
  body > *:last-child {
    margin-bottom: 0 !important; }
  body * {
    box-sizing: border-box; }
  body strong {
    font-weight: 600; }
  body [type='checkbox'] {
    box-sizing: border-box;
    padding: 0; }
  body a {
    color: #0366d6;
    text-decoration: none; }
    body a:hover {
      color: #0366d6;
      text-decoration: underline; }
    body a:active, body a:hover {
      outline-width: 0; }
    body a:not([href]) {
      color: inherit;
      text-decoration: none; }
  body p {
    margin-bottom: 1em;
    margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 1.5em; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13.6px; }

ul,
ol {
  margin-bottom: 1em;
  margin-top: 0;
  padding-left: 2em; }

ol ol,
ul ol {
  list-style-type: lower-roman; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-top: 0; }

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha; }

li {
  word-wrap: break-all; }
  li > p {
    margin-top: 1em; }
  li + li {
    margin-top: 0.25em; }

img {
  background-color: #fff;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%; }

img[align='right'] {
  padding-left: 1.25em; }

img[align='left'] {
  padding-right: 1.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  width: 100%; }
  table tr {
    background-color: transparent;
    border-top: 1px solid #dfe2e5; }
  table tr:nth-child(2n) {
    background-color: #f6f8fa; }
  table th,
  table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px; }
  table th {
    background-color: inherit;
    color: inherit;
    font-weight: 600; }
  table td {
    color: inherit; }

blockquote {
  color: #6a737d;
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 1em; }

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px; }

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  line-height: 1.45;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  padding: 1em;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    white-space: pre;
    word-break: normal;
    word-wrap: normal; }

kbd {
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 68.75%;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle; }

hr {
  border-color: #dfe2e5;
  border-style: solid;
  border-width: 1px;
  box-sizing: content-box;
  margin: 1.5em 0;
  overflow: hidden;
  padding: 0; }
  hr:before {
    content: '';
    display: table; }
  hr:after {
    clear: both;
    content: '';
    display: table; }

h1,
h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em; }

h6 {
  color: #6a737d; }

blockquote {
  border-left: 0.25em solid #dfe2e5; }

hr {
  background-color: #e1e4e8;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  border-bottom-color: #eee;
  height: 0.25em; }
